@layer components {
    .woo-a {
        @apply text-woo-sea-blue
            underline
            hover-focus:text-woo-ateneo-blue
            visited:text-woo-plum visited:hover-focus:text-woo-plum;
    }

    .woo-a--with-icon-after {
        @apply woo-a;
    }

    .woo-a--with-icon-after::after {
        @apply content-[''] inline-block w-6 h-6 ml-1 relative top-px align-text-bottom;
        @apply bg-woo-sea-blue visited:bg-woo-plum;
        @apply hover-focus:bg-woo-ateneo-blue visited:hover-focus:bg-woo-plum;
    }

    .woo-a-email{
        @apply woo-a--with-icon-after;
    }

    .woo-a-email::after {
        mask: url('@img/envelope.svg');
        content: ' via e-mail';
    }
}
