.arrowed-link {
    position: relative;

    &:before,
    &:hover:before,
    &:focus:before {
        content: var(--icon-chevron-right);
        align-items: flex-start;
        display: inline-flex;
        height: 100%;
        justify-self: center;
        line-height: 1;
        text-decoration-color: transparent;
        font-size: 0.8rem;
        transform: translateY(-2px);
    }

    &.split-link {
        &:before,
        &:hover:before,
        &:focus:before {
            position: absolute;
            left: -1.5rem;
            top: 0.3rem;
            transform: none;
        }
    }
}
