a.block-link {
    display: block;
    color: var(--text-set-text-color);
    text-decoration: none;

    h3 {
        margin-bottom: 0.5rem;
        color: var(--headings-text-color);
        font-size: var(--h3-font-size);
        font-weight: var(--text-set-strong-font-weight);
    }

    &:focus,
    &:hover {
        color: var(--text-set-text-color);
        text-decoration: none;

        h3 {
            color: var(--headings-hover-text-color);
            text-decoration: underline;
        }
    }

    &:visited {
        color: var(--text-set-text-color);

        h3 {
            color: var(--headings-visited-text-color, inherit);
        }
    }
}
