.button {
    --link-border-color: var(--button-base-border-color);
    --link-visited-border-color: var(--button-base-border-color);

    border-style: var(--button-base-border-style);
    border-width: var(--button-base-border-width);
    border-radius: var(--button-base-border-radius);

    svg {
        fill: var(--button-base-text-color);
    }

    &:hover,
    &:focus {
        border-style: var(--button-base-border-style);
        border-width: var(--button-base-border-width);
        border-radius: var(--button-base-border-radius);
        text-decoration: none;
    }
}

.button.button--secondary {
    --button-base-background-color: var(--application-base-accent-color);
    --button-base-border-color: var(--button-base-background-color);
    --button-base-hover-background-color: var(--application-base-accent-color-selected);
    --button-base-active-background-color: var(--button-base-background-color);
    --button-base-focus-border-color: var(--button-base-background-color);
    --button-base-active-border-color: var(--button-base-background-color);
    --button-base-focus-background-color: var(--button-base-background-color);
}

.button.button--light {
    --button-light-border-width: 3px;
    --button-light-text-color: var(--button-base-background-color);

    color: var(--button-light-text-color);
    background: transparent;
    font-weight: bold;
    border-style: var(--button-base-border-style);
    border-width: var(--button-light-border-width);
    border-radius: var(--button-base-border-radius);
    border-color: var(--button-base-border-color);

    svg {
        fill: var(--button-light-text-color);
    }

    &:visited {
        color: var(--button-light-text-color);
    }

    &:hover,
    &:focus {
        border-style: var(--button-base-border-style);
        border-width: var(--button-light-border-width);
        border-radius: var(--button-base-border-radius);
        border-color: var(--button-base-border-color);
        background-color: var(--button-light-text-color);
        color: var(--button-base-text-color);
        text-decoration: none;

        svg {
            fill: var(--button-base-text-color);
        }
    }
}
