.content-container {
    max-width: 56rem;

    a {
        display: inline-block;
    }
}

.content-detail-container {
    --section-content-wrapper-gap: 0;
    --section-padding-top: 2rem;
    --section-padding-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 4rem;
}
