/*---------------------------------------------------------------*/
/*----------------- header-bottom.scss ----------------------*/
/*---------------------------------------------------------------*/

:root {
    --header-bottom-content-max-width: var(--content-max-width);
    --header-bottom-content-padding-left: var(--content-padding-left);
    --header-bottom-content-padding-right: var(--content-padding-right);
    --header-bottom-content-padding-top: 0;
    --header-bottom-content-padding-bottom: 0;
}

.main-header-bottom {
    display: block;
    background-color: var(--grey-1);
}

.main-header-bottom__content {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--header-bottom-content-max-width);
    padding-left: var(--header-bottom-content-padding-left);
    padding-right: var(--header-bottom-content-padding-right);
    padding-left: var(--header-bottom-content-padding-left);
    padding-top: var(--header-bottom-content-padding-top);
    padding-bottom: var(--header-bottom-content-padding-bottom);

    .one-third-two-thirds {
        --layout-one-third-two-thirds-gap: 0;
        --layout-one-third-two-thirds-breakpoint-gap: 0;
        flex-direction: column;

        @media (max-width: $breakpoint-3) {
            > div {
                width: 100%;
            }
        }

        @media (min-width: $breakpoint-3) {
            --layout-one-third-two-thirds-gap: var(--content-gap);
            --layout-one-third-two-thirds-breakpoint-gap: var(--layout-one-third-two-thirds-gap);
            flex-direction: row;
        }
    }
}
