/*---------------------------------------------------------------*/
/*------------- header-navigation-link-variables.scss -----------*/
/*---------------------------------------------------------------*/
@use "mixins/link";

:root {
  /* Link */
  @include link.styling-variables(
    "header-navigation-link-",
    "navigation-link-"
  );

  --header-navigation-link-justify-content: center;
  --header-navigation-link-align-items: center;
  --header-navigation-link-padding-top: 0;
  --header-navigation-link-padding-right: 0;
  --header-navigation-link-padding-bottom: 0;
  --header-navigation-link-padding-left: 0;
  --header-navigation-link-min-height: 0;

  /* Icon */
  --header-navigation-link-icon-font-family: var(
    --navigation-link-icon-font-family
  );
  --header-navigation-link-icon-font-size: var(
    --navigation-link-icon-font-size
  );
  --header-navigation-link-icon-line-height: var(
    --navigation-link-icon-line-height
  );
  --header-navigation-link-icon-padding-right: var(
    --navigation-link-icon-padding-right
  );
  --header-navigation-link-icon-padding-left: var(
    --navigation-link-icon-padding-left
  );
  --header-navigation-link-icon-text-decoration: var(
    --navigation-link-icon-text-decoration
  );

  --header-navigation-link-icon-background-color: var(
    --header-navigation-link-background-color
  );
  --header-navigation-link-icon-text-color: var(
    --header-navigation-link-text-color
  );
}
