.list-densed {
    @media (min-width: 42rem) {
        padding-left: 0;
    }

    li {
        padding-left: 1.5rem;
        line-height: 1.25;

        > * {
            padding-top: var(--list-base-item-padding);
            padding-bottom: var(--list-base-item-padding);
        }
    }
}
