/*---------------------------------------------------------------*/
/*---------------------- pagination.scss ------------------------*/
/*---------------------------------------------------------------*/

:root {
    --pagination-link-text-color: var(--application-base-accent-color);
    --pagination-link-border-width: 0 0 3px 0;
    --pagination-border-color: var(--application-base-accent-color);
    --pagination-border-width: 2px 0 0;
}

.pagination {
    ul {
        justify-content: center;
        width: 100%;
    }

    .pagination__not-active {
        display: none;

        @media (min-width: $breakpoint-2) {
            display: inline-block;
        }
    }

    .pagination__dots {
        min-width: initial;

        @media (min-width: $breakpoint-2) {
            min-width: var(--pagination-item-width);
        }

        span:hover {
            background-color: transparent;
            color: var(--pagination-link-text-color);
        }
    }

    .disabled:hover {
        background-color: transparent;
        color: var(--pagination-link-text-color);
    }

    .pagination__text a {
        color: var(--pagination-link-text-color);

        &:hover {
            background-color: transparent;
            color: inherit;
        }
    }

    .active:not(:hover, :focus) {
        outline: 0;
    }
}
