form.search-form {
    flex-direction: row;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;
    z-index: 1;

    button {
        align-self: auto;
        flex-shrink: 0;
        min-width: 0;
        width: auto;

        .text {
            @extend .visually-hidden;
        }
    }

    @media (min-width: $breakpoint-2) {
        input {
            border-color: var(--grey-4);
        }

        .icon {
            margin-left: 0.5rem;
        }

        button .text {
            clip-path: none;
            width: auto;
            height: auto;
            max-width: none;
            max-height: none;

            /* Overwriting any specifics that might have been set.    */
            /* !important is used here to solve any specificity issues */
            min-width: 0 !important;
            min-height: 0 !important;
            border: 0 !important;
            padding: 0 !important;
            position: static !important;
        }
    }

    .search-form__suggestions {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 0 1rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 70px;

        &:empty {
            display: none;
        }

        .list-results {
            padding-bottom: 0;
        }
    }
}

form.search-form--hero {
    background-color: #f5f5f5;
    max-width: 688px;
    padding: 1rem;

    @media (min-width: $breakpoint-2) {
        background-color: #fff;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
        margin-top: -56px;
        padding: var(--form-base-padding-top) var(--form-base-padding-right);
    }
}

[role="search"].half-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 100%;
    max-width: 30rem;
}
