.search-results {
    display: block;
    box-sizing: border-box;
    max-width: var(--content-max-width);
    margin: 0 auto;
    width: 100%;
    padding: 2rem var(--content-padding-right) 0;
}

.search-results__filters {
    display: block;
    padding: 0;
}

.search-results__results {
    display: block;
    padding: 0;
}

@media (min-width: 820px) {
    .search-results {
        display: flex;
        flex-direction: row;
        gap: 0 2rem;
    }

    .search-results__filters {
        width: 224px;
    }

    .search-results__results {
        flex-grow: 1;
    }
}
