.split-link {

    &,
    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        .split-link__underline {
            text-decoration: underline;
        }
    }

    @media (min-width: 42rem) {
        .split-link__suffix {
            margin-left: 0.25rem;
        }
    }

    span {
        hyphens: none;
    }
}
