:root {
    --tabs-accent-color: var(--application-base-accent-color);
    --tabs-item-text-color: var(--grey-6);
    --tabs-item-background-color: transparent;
    --tabs-item-border-color: transparent;
    --tabs-item-border-width: 0 0 3px 0;

    /* Hover */
    --tabs-item-hover-border-width: var(--tabs-item-border-width);
    --tabs-item-hover-text-color: var(--tabs-accent-color);
    --tabs-item-hover-border-color: var(--tabs-item-hover-text-color);

    /* Active */
    --tabs-item-active-border-width: var(--tabs-item-border-width);
    --tabs-item-active-text-color: var(--tabs-accent-color);
    --tabs-item-active-border-color: var(--tabs-item-active-text-color);

    /* Active hover */
    --tabs-item-active-hover-border-width: var(--tabs-item-border-width);
    --tabs-item-active-hover-text-color: var(--tabs-accent-color);
    --tabs-item-active-hover-border-color: var(
        --tabs-item-active-hover-text-color
    );
}

%tab-active-item-styling {
    background-color: var(--tabs-item-background-color);
    border-width: var(--tabs-item-border-width);
    border-color: var(--tabs-item-active-border-color);

    span {
        color: var(--tabs-item-active-text-color);
    }
}

.tabs {
    --pagination-link-text-color: var(--tabs-accent-color);
    --pagination-link-hover-background-color: var(--pagination-link-text-color);
    --pagination-border-color: var(--grey-2);
    --pagination-border-width: 1px 0 0;

    ul li a {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.tablist {
    --tabs-gap: 0.25rem;
    --button-base-padding-right: 0;
    --button-base-padding-left: 0;

    @media (min-width: $breakpoint-2) {
        --tabs-gap: 1rem;
        --button-base-padding-right: 1rem;
        --button-base-padding-left: 1rem;
    }
}

.tablist__item {
    position: relative;
    margin-top: 2px;
    left: 2px;
    padding: 0;
}

.tab {
    background-color: var(--tabs-item-background-color);
    border-width: var(--tabs-item-border-width);
    border-color: var(--tabs-item-border-color);

    &:hover,
    &:focus {
        @extend %tab-active-item-styling;
    }

    &[aria-selected="true"],
    .active {
        font-weight: bold;
        @extend %tab-active-item-styling;
    }
}

@media (min-width: $breakpoint-2) {
    [data-tab-content]:not(hidden) {
        display: block;
    }
}

.tab__copy--desktop {
    display: none;
}

@media (min-width: $breakpoint-2) {
    .tab__copy--mobile {
        display: none;
    }

    .tab__copy--desktop {
        display: initial;
    }
}
