/*---------------------------------------------------------------*/
/*-------------------------- tabs.scss --------------------------*/
/*---------------------------------------------------------------*/
@use "tabs-variables";

%tabs-link-styling {
    border-width: 0 0 3px 0;
    border-style: var(--tabs-item-border-style);
    border-color: var(--tabs-item-border-color);
    color: var(--tabs-item-text-color);
    line-height: var(--tabs-item-line-height);
    padding: var(--tabs-item-padding);
    background-color: var(--tabs-item-background-color);
    text-decoration: var(--tabs-item-text-decoration);

    &:hover,
    &:focus {
        border-width: var(--tabs-item-hover-border-width);
        border-style: var(--tabs-item-hover-border-style);
        border-color: var(--tabs-item-hover-border-color);
        color: var(--tabs-item-hover-text-color);
        background-color: var(--tabs-item-hover-background-color);
    }
}

%tabs-active-item-styling {
    border-width: var(--tabs-item-active-border-width);
    border-style: var(--tabs-item-active-border-style);
    border-color: var(--tabs-item-active-border-color);
    color: var(--tabs-item-active-text-color);
    background-color: var(--tabs-item-active-background-color);

    &:hover,
    &:focus {
        border-width: var(--tabs-item-active-hover-border-width);
        border-style: var(--tabs-item-active-hover-border-style);
        border-color: var(--tabs-item-active-hover-border-color);
        color: var(--tabs-item-active-hover-text-color);
        background-color: var(--tabs-item-active-hover-background-color);
    }
}

.tabs {
    background-color: var(--tabs-background-color);
    width: 100%;

    >ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--tabs-gap);
        border-bottom: 1px;
        border-top-width: var(--tabs-border-top-width);
        border-right-width: var(--tabs-border-right-width);
        border-left-width: var(--tabs-border-left-width);
        border-style: var(--tabs-border-style);
        border-color: var(--tabs-border-color);
        padding-left: 0;
        width: 100%;

        li {
            list-style: none;
            padding: 0;
            /* to not clip focus outline around buttons: */
            position: relative;
            left: 2px;

            >button {
                margin-bottom: 0;
                border-bottom: 3px solid transparent;
                /* to not clip focus outline around buttons: */
                margin-top: 2px;
            }
        }

        button {
            @extend %tabs-link-styling;

            &[aria-selected="true"] {
                @extend %tabs-active-item-styling;
            }
        }

        span {
            cursor: default;
        }
    }

    li {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media (min-width: 42rem) {
    .tabs td:first-child {
        padding-left: 1rem;
    }

    [data-tab-content]:not(hidden) {
        display: block;
    }
}

.copy-desktop {
    display: none;
}

@media (min-width: 42rem) {
    .copy-mobile {
        display: none;
    }

    .copy-desktop {
        display: initial;
    }
}