robotframework >= 7.1.0
robotframework-browser
robotframework-debugLibrary
robotframework-otp
robotframework-robocop >= 6.5
robotframework-datetime-tz
robotframework-dependencylibrary
robotframework-requests
robotframework-archivelibrary
robotframework-faker
robotframework-excellib
pyotp
pyzbar
robocorp-truststore
rpaframework-pdf
robotframework-retryfailed
robotframework-pabot
