//@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/main";
@import "admin-variables.scss";
@import "admin-base.scss";
@import "admin-badge.scss";
@import "admin-signin.scss";
@import "admin-decisions.scss";

/* Manon overrides */
:root {
  --footer-flex-direction: row;
  --footer-min-height: 56px;
  --link-text-color: #01689B;
  --link-hover-text-color: #004161;
  --link-text-decoration: underline;
  --form-input-border-color: #ccc;
  --icon-font-family: #{$font-icon};
  --button-icon-only-font-family: #{$font-icon};
  --succes-700: #027A48;
  --notification-error-intense-default: #D52A1E;
  --notification-warning-intense-default: #FFB71A;
  --notification-explanation-intense-default: #007BC7;
  --ro-basic-set-orange: #E17000;
}
