@import "admin-decision-link";

.admin-decisions {
  > .content {
    margin-top: 0;
  }

  + footer {
    margin-top: 160px;
  }
}

.decisions {
    tr {
        position: relative;
    }

    td:first-child {
        display: flex;
        align-items: center;
    }
}
