form[name="search_form"] {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-end;
}

.search-decisions {
  display: flex;
  justify-content: space-between;
  padding: $default-container-padding-nth-1;
  align-items: center;

  &__keyword {
    display: flex;
    align-items: center;
  }

  &__input {
    display: flex;
    width: 424px;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;

    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  &__icon {
    color: #999;
    transform: translateX(-30px);
    font-size: 18px;
    display: flex;
  }
}