@use "@minvws/manon/collapsible";
@use "@minvws/manon/layout-centered";

@import "@minvws/manon/footer.scss";
@import "@minvws/manon/link.scss";
@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/fonts/ro-icons/sets/base.scss";
@import "@minvws/manon/icon.scss";
@import "@minvws/manon/button-icon.scss";
@import "@minvws/manon/visually-hidden.scss";

html * {
    box-sizing: border-box;
}

body {
    background: $grey-main-bg;
    font-family: $font-sans;
    line-height: $base-line-height;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    >header>nav {
        background: $grey-dark;
        color: $white;
        font-style: italic;
        font-size: 22px;
        height: 80px;
    }

    >header>nav>.nav__container {
        width: 100%;
        height: 100%;
        max-width: 1152px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
    }

    >header .header__profile {
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 80px;
        }

        li {
            height: 100%;

            &:hover,
            &:focus {
                background: var(--color-form-help-text);
            }

            &:first-child a {
                font-family: $font-sans;
            }
        }

        a,
        span {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $white;
            font-weight: bold;
            padding: 0 16px;
        }

        span {
            font-family: $font-sans;
        }
    }

    >header>.header__content {
        @include default-big-container;
        @include center;
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 24px;
        padding: 0 $main-padding;
    }

    >header h1 {
        margin: 0;
    }

    main {
        flex: 1;

        >.content {
            margin: 4rem auto 0;
            padding: $main-padding;
            @include default-big-container;

            &__small {
                max-width: $small-content-container;
            }

            +.content {
                margin-top: 2.5rem;
            }
        }
    }

    > footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 32px;
        margin-top: 160px;

        svg {
            margin-bottom: 18px;

            path {
                fill: #999;
            }
        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;

            li {
                margin: 0 9px;
                line-height: 1.5;

                a {
                    font-size: 0.875rem;
                    line-height: 1;
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

strong {
    font-weight: bold;
    font-style: normal;
}

input,
textarea {
    font-size: 1em;
}

/* Input */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="submit"],
button[type="submit"],
select,
textarea {
    border-radius: 8px;
    color: $color-input;
    display: flex;
    font-family: $font-sans;
    line-height: 24px;
    padding: 10px 14px;
}

/* Buttons */
input[type="submit"],
button[type="submit"] {
    justify-content: center;
    color: $white;
    font-family: $font-sans;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 1.25rem;

    border: 1px solid $color-button-border;
    background: var(--notification-explanation-intense-default, #007bc7);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

/* Text fields */
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    border-radius: 8px;
    border: 1px solid var(--form-input-border-color);
    background: $white;

    /* Shadow/xs */
    box-shadow: $shadow-xs;
}

label {
    font-size: 0.875rem;
    margin-top: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 0.75rem 1.5rem;
    border: 1px solid $color-th-border;
    background: $color-th-background;
    color: $color-th-text;
    font-style: italic;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    text-align: left;

    &:first-child {
        border-left: none;
    }

    &:last-child,
    &:nth-last-child(2) {
        border-right: none;
        border-left: none;
    }

    a {
        align-items: center;
        color: inherit;
        display: flex;
        gap: $default-gap;
        text-decoration: none;
        height: 20px;
        line-height: 20px;

        &:hover {
            color: $color-th-text-hover;
        }
    }
}

tr {
    border-bottom: 1px solid $color-tr-border;

    &:hover {
        background: $color-tr-hover;
    }
}

td {
    color: $color-td;
    font-size: 0.875rem;
    padding: 1rem 1.5rem;
    line-height: 1em;

    span {
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    height: 72px;
}

.content {
    background: $white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $grey-999;
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $grey-999;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $grey-999;
}

.font-family-sans-bold {
    font-weight: bold;
}

.font-family-sans {
    font-family: $font-sans;
}
