.admin-decisions-new {
    &__help-text {
        ul {
            padding: 0;
            li {
                list-style: none;
                display: flex;
                align-items: center;

                img {
                    margin-right: 10px;
                }
            }
        }
    }
}
