@theme {
    --color-bhr-blue-50: #e7f5ff;
    --color-bhr-blue-100: #d0ebff;
    --color-bhr-blue-700: #1c7ed6;
    --color-bhr-blue-800: #1971c2;
    --color-bhr-blue-900: #1864ab;
    --color-bhr-grape-50: #f8f0fc;
    --color-bhr-grape-900: #862e9c;
    --color-bhr-gray-100: #f1f3f5;
    --color-bhr-gray-200: #ced4da;
    --color-bhr-gray-300: #dee2e6;
    --color-bhr-gray-400: #ced4da;
    --color-bhr-gray-500: #adb5bd;
    --color-bhr-gray-600: #868e96;
    --color-bhr-gray-700: #495057;
    --color-bhr-gray-800: #343a40;
    --color-bhr-gray-900: #212529;
    --color-bhr-green-50: #ebfbee;
    --color-bhr-green-700: #37b24d;
    --color-bhr-green-800: #2f9e44;
    --color-bhr-green-900: #277c38;
    --color-bhr-indigo-50: #edf2ff;
    --color-bhr-indigo-900: #364fc7;
    --color-bhr-red-50: #fff5f5;
    --color-bhr-red-100: #ffe3e3;
    --color-bhr-red-700: #f03e3e;
    --color-bhr-red-800: #e03131;
    --color-bhr-red-900: #c92a2a;
    --color-bhr-yellow-50: #fff9db;
    --color-bhr-yellow-100: #fff3bf;
    --color-bhr-yellow-400: #ffd43b;
    --color-bhr-yellow-800: #f08c00;

    --color-bhr-windsor-tan: #ad5a00;

    --font-sans: 'RO Sans Web', 'system-ui', 'sans-serif';

    --img-bhr-check: url(/public/img/admin/check.svg);
    --img-bhr-cross: url(/public/img/admin/cross.svg);

    --list-style-type-square: square;
  }
