{% extends 'public/base.html.twig' %}
{% import "public/macros/document.html.twig" as macro %}

{% set page_title = 'public.inquiry.page_title' | trans({'{case_number}': inquiry.casenr}) %}

{% block body %}
<div class="woo-container woo-container--sm">
    <div class="pb-2">
        <h1 class="woo-h1 woo-h1-spacing">{{ page_title }}</h1>
    </div>

    {% include "public/dossier/woo-decision/inquiry/snippets/notifications.html.twig" %}

    {% include "public/dossier/woo-decision/inquiry/snippets/info.html.twig" %}

    {% include "public/dossier/woo-decision/inquiry/snippets/dossiers.html.twig" %}

    {% include "public/dossier/woo-decision/inquiry/snippets/documents.html.twig" %}

    {{ macro.history_section(get_frontend_history('inquiry', inquiry.id), 'global.history') }}
</div>
{% endblock %}
