services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

        bind:
            $configPageLimit: '%configPageLimit%'
            Psr\Log\LoggerInterface $logger: '@Shared\Service\Logging\EnrichedPsrLogger'
            string $publicBaseUrl: '%env(PUBLIC_BASE_URL)%'
            int $thumbnailLimit: '%thumbnail_limit%'

    Shared\:
        resource: '../../src/'
        exclude:
            - '../../src/DependencyInjection/'
            - '../../src/Entity/'
            - '../../src/Kernel.php'
            - '../../src/class_aliases.php'
