{% extends 'base.html.twig' %}

{% set page_title = "Create new user" | trans() %}

{% block body %}

    <section>
        <div>

            <h1>{{ "Create new user" | trans() }}</h1>

            <div class="card mb-3">
                <div class="card-header">
                    <h5>{{ "User" | trans() }}</h5>
                </div>
                <div class="card-body bg-light">
                    {{ form(userForm) }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}
