{% extends 'admin.html.twig' %}

{% set page_title = "Create new user" | trans() %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-title text-center mb-10">{{ page_title }}</h1>

    <div class="woo-card">
        {{ form(userForm) }}
    </div>
</div>
{% endblock %}

