{% extends 'department/details_base.html.twig' %}

{% set logoPath = asset('assets/img/public/departments/cbg.svg') %}
{% set logoClass = 'mb-4 max-w-[400px]' %}

{% block department_content %}
    <div class="woo-readable-width">
        <h1 class="woo-h1 woo-h1-spacing font-normal">{{ 'public.department.public_information_by_department' | trans({ department: 'het College ter Beoordeling van Geneesmiddelen (CBG)' }) }}</h1>

        <div class="woo-rich-text">
            <p>Op deze pagina vindt u een overzicht van de informatie die door het College ter Beoordeling van Geneesmiddelen (CBG) openbaar gemaakt is op grond van de Wet Open Overheid.</p>

            <p class="!mb-1">Een aantal informatiecategorieën van het CBG zijn op andere plekken gepubliceerd:</p>
            <ul>
                <li><a href="https://www.cbg-meb.nl/onderwerpen/over-cbg-jaarverslag">Jaarverslagen</a></li>
                <li><a href="https://www.cbg-meb.nl/onderwerpen/hv-beleidsdocumenten">Beleidsdocumenten</a></li>
                <li><a href="https://www.cbg-meb.nl/contact">Bereikbaarheidsgegevens</a></li>
            </ul>

            <p class="!mb-1">Kijk voor een overzicht van de gepubliceerde documenten van het CBG op onze pagina in het WOO-register:</p>
            <ul>
                <li><a href="https://organisaties.overheid.nl/woo/28248840/College_ter_Beoordeling_van_Geneesmiddelen">Woo-register CBG</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
