<div id="tab{{ tabNumber }}" data-e2e-name="tab{{ tabNumber }}" data-tab-content role="tabpanel" aria-labelledby="tabcontrol-{{ tabNumber }}" {% if isHidden %}hidden{% endif %}>
    {% block content %}{% endblock %}
</div>
