{% extends 'base.html.twig' %}

{% set page_title = "Home" | trans() %}

{% block body %}

    <section class="hero">
        <img src="{{ asset('/img/hero/documenten.jpeg') }}" alt="">
    </section>

    {% include "search/searchbar.html.twig" with { isHeroSearchForm: true } %}

    <section class="content-container mx-auto">
        <div>
            <h1 class="leading-tight reduce-width site-title">
                <span class="block mb-2">{{ "OGA platform" | trans() }}</span>
                <span>{{ "OGA decisions of the Dutch Ministry of Health, Welfare and Sport" | trans() | raw }}</span>
            </h1>
            {% include "home/snippets/about.html.twig" %}

            {% include "home/snippets/recent-documents.html.twig" %}
        </div>
    </section>

    {% include "home/snippets/browse.html.twig" %}

    {% include "home/snippets/info.html.twig" %}
{% endblock %}
