doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        types:
            external_id: Shared\Doctrine\ExternalIdType
    orm:
        auto_generate_proxy_classes: NEVER
        enable_lazy_ghost_objects: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: false
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Service'
                prefix: 'Shared\Service'
                alias: App
            Domain:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Domain'
                prefix: 'Shared\Domain'
                alias: Domain
            SharedValueObjects:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/ValueObject'
                prefix: 'Shared\ValueObject'
                alias: SharedValueObjects
        dql:
            string_functions:
                CONTAINS: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\Contains
                ILIKE: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\Ilike
                TYPE: Shared\Doctrine\TypeFunction
        controller_resolver:
            auto_mapping: false

when@dev:
    doctrine:
        orm:
            auto_generate_proxy_classes: FILE_NOT_EXISTS_OR_CHANGED

when@test:
    doctrine:
        dbal:
            connections:
                default:
                    # "TEST_TOKEN" is typically set by ParaTest
                    dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
