# see https://symfony.com/doc/current/reference/configuration/framework.html
parameters:
    env(SESSION_COOKIE_LIFETIME): 86400

framework:
    secret: '%env(APP_SECRET)%'
    annotations: false
    http_method_override: false
    handle_all_throwables: true
    trusted_hosts: '%env(TRUSTED_HOSTS)%'

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        enabled: true
        handler_id: Shared\Service\Security\Session\EncryptedSessionProxy
        cookie_secure: true
        cookie_samesite: strict
        storage_factory_id: session.storage.factory.native
        name: '%env(COOKIE_NAME)%'
        cookie_httponly: true
        cookie_lifetime: '%env(int:SESSION_COOKIE_LIFETIME)%'
        gc_maxlifetime: '%env(int:SESSION_COOKIE_LIFETIME)%'

    #esi: true
    #fragments: true
    php_errors:
        log: true
    exceptions:
        Shared\Domain\Publication\PageProvider\PageProviderException:
            status_code: 404
        Shared\Domain\Publication\Dossier\FileProvider\DossierFileNotFoundException:
            status_code: 404
        Shared\Domain\WooIndex\Exception\WooIndexFileNotFoundException:
            status_code: 404
        Shared\Domain\Department\Exception\DepartmentAssetNotFound:
            status_code: 404
    assets:
        packages:
            vite:
                version_strategy: 'Pentatrion\ViteBundle\Asset\ViteAssetVersionStrategy'
            api_platform:
                version_strategy: null

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file

when@dev:
    framework:
        session:
            cookie_secure: auto
        trusted_hosts:
            - '%env(TRUSTED_HOSTS)%'
            - public-woo.local
            - admin-woo.local
        trusted_proxies: '%env(default::TRUSTED_PROXIES)%'
        trusted_headers: ['x-forwarded-for', 'x-forwarded-host', 'x-forwarded-proto', 'x-forwarded-port', 'x-forwarded-prefix']
