twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes:
        - 'admin/layout/form_theme.html.twig'
    globals:
        PUBLIC_BASE_URL: '%env(PUBLIC_BASE_URL)%'
        PIWIK_ANALYTICS_ID: '%env(PIWIK_ANALYTICS_ID)%'
        SITE_NAME: '%env(SITE_NAME)%'
        DEPARTMENTS: '@Shared\Domain\Department\Twig\Departments'
        THUMBNAIL_LIMIT: '%thumbnail_limit%'
        LIMIT_TOTAL_DOCUMENTS_FILE_SIZE_IN_GIB: '%limit_total_document_file_size_in_gib%'
    file_name_pattern: '*.twig'
    date:
        timezone: Europe/Amsterdam

when@test:
    twig:
        strict_variables: true
