{% extends 'base.html.twig' %}

{% set page_title = "About Wobcovid19" %}

{% block body %}

    <section>
        <div>

            <h1>Over Wobcovid19</h1>

            <p>Op deze site worden vanaf 1 januari 2021 alle Woo-besluiten en documenten gepubliceerd over de Covid-19 crisis die openbaar zijn
                gemaakt n.a.v. verzoeken in het kader van de Wet open overheid, zogenaamde Woo-verzoeken. De Wob-besluiten en documenten die voor
                1 januari 2021 gepubliceerd zijn staan op <a
                        href="https://www.rijksoverheid.nl/documenten">https://www.rijksoverheid.nl/documenten</a>.</p>

            <h2>Meer informatie:</h2>

            <ul>
                <li><a href="https://www.rijksoverheid.nl/onderwerpen/wet-open-overheid-woo/vraag-en-antwoord/hoe-dien-ik-een-woo-verzoek-in">Hoe dien
                        ik een Woo-verzoek in?</a></li>
                <li><a href="https://www.rijksoverheid.nl/onderwerpen/wet-open-overheid-woo/vraag-en-antwoord/waar-woo-verzoek-indienen">Bij welke
                        organisaties kunt u een Woo-verzoek indienen?</a></li>
            </ul>

        </div>
    </section>
{% endblock %}
