{% extends 'base.html.twig' %}

{% set page_title = "Toegankelijkheid" %}

{% block body %}
    <section>
        <div>

            <h1>Toegankelijkheid</h1>
            <p>Wij willen graag dat iedereen deze website kan gebruiken. Komt u toch een pagina tegen die niet toegankelijk is? Dan
                kunt u dit aan ons melden.</p>
            <h2>Wat is een toegankelijke website?</h2>
            <p>Een toegankelijke website is voor alle doelgroepen beter te gebruiken. Daarom gelden er functioneel-technische en redactionele <a href="https://www.digitoegankelijk.nl/">toegankelijkheidseisen</a> of (voorheen: webrichtlijnen) voor websites van de overheid. Deze zijn vastgelegd in de <a href="https://www.forumstandaardisatie.nl/standaard/digitoegankelijk-en-301-549-met-wcag-21">toegankelijkheidsstandaard Digitoegankelijk EN 301 549</a>.</p>
            <h2>Borging van toegankelijkheid</h2>
            <p>Wij borgen goede toegankelijkheid door diverse maatregelen binnen onze (dagelijkse) processen:</p>
            <ul>
                <li>Toegankelijkheid ‘by design’: toegankelijkheid is vanaf de start onderdeel van alle stappen in het ontwerp-, bouw en redactionele
                    proces van deze website.
                </li>
                <li>Onderzoek: wij toetsen regelmatig (onderdelen van) onze website op toegankelijkheid. Zowel voor de functioneel-technische
                    onderdelen als de redactionele aspecten. Gevonden knelpunten lossen wij duurzaam op.
                </li>
                <li>Kennis medewerkers: onze medewerkers houden hun kennis over toegankelijkheid op peil en passen dit toe waar nodig.</li>
            </ul>
            <h2>Problemen met toegankelijkheid melden</h2>
            <p>Heeft u vragen of opmerkingen? Of wilt u een pagina gebruiken die niet toegankelijk is? Neem dan contact met ons op.</p>

        </div>
    </section>
{% endblock %}
