{% extends 'base.html.twig' %}

{% set page_title = "Copyright" %}

{% block body %}
    <section>
        <div>

            <h1>Copyright</h1>
            <p>Iedereen mag op grond van de Wet Hergebruik van Overheidsinformatie de informatie op deze website hergebruiken, tenzij
                anders is aangegeven.</p>
            <p>Het recht op hergebruik geldt voor alle soorten informatie zoals teksten, rapporten, foto’s, grafieken en afbeeldingen.
                Het hergebruik geldt zowel voor commerciële als een niet-commerciële doelen.</p>
            <p>Hergebruik is toegestaan tenzij:</p>
            <ul>
                <li>via het copyrightteken (©) is aangegeven dat er op een foto wél copyright zit;</li>
                <li>het gaat om content van derden. Controleer daarom altijd de afzender van documenten.</li>
            </ul>

        </div>
    </section>
{% endblock %}
