{% extends 'base.html.twig' %}

{% set page_title = "Privacyverklaring" %}

{% block body %}
    <section>
        <div>

            <h1>Privacy</h1>
            <p>Privacyverklaring Wet openbaarheid van bestuur (WOB)</p>
            <h2>Persoonsgegevens die wij verwerken</h2>
            <p>AZ verwerkt persoonsgegevens die u ons verstrekt in uw WOB-verzoek. Dit zijn bijvoorbeeld uw naw gegevens (naam, adres,
                woonplaats).</p>
            <h2>Wie is verantwoordelijk voor de verwerking van uw persoonsgegevens?</h2>
            <p>De minister-president, de minister van Algemene Zaken, is de zogenaamde verwerkingsverantwoordelijke&nbsp;in de zin van
                de Algemene verordening gegevensbescherming (AVG). De <a
                        href="https://www.rijksoverheid.nl/ministeries/ministerie-van-algemene-zaken/privacy/privacyverklaring-inkoop-en-aanbesteding">Privacyverklaring
                    van AZ</a> vindt u elders op Rijksoverheid.nl. AZ heeft een functionaris voor gegevensbescherming (FG) als interne toezichthouder,
                die toezicht houdt op het zorgvuldig omgaan met persoonsgegevens door AZ. De FG is bereikbaar per e-mail <a href="mailto:fg@minAZ.nl">fg@minAZ.nl</a>.
            </p>
            <h2>Met welk doel en op basis van welke grondslag verwerken wij persoonsgegevens?</h2>
            <p>Uw gegevens worden alleen gebruikt om uw verzoek te kunnen behandelen. De rechtsgrondslag voor verwerkingen in het kader
                van WOB-verzoeken is om te voldoen aan een wettelijke verplichting (de WOB).</p>
            <h2>Hoe lang bewaren wij persoonsgegevens?</h2>
            <p>AZ bewaart uw persoonsgegevens 5 jaarin het kader van de Archiefwet.</p>
            <h2>Met wie delen wij persoonsgegevens?</h2>
            <p>AZ verkoopt of deelt uw gegevens niet.</p>
            <h2>Persoonsgegevens langer bewaren</h2>
            <p>Het recht op verwijdering en het recht om vergeten te worden zijn niet absoluut, maar moeten gewogen worden tegen andere
                rechten en belangen. In een beperkt aantal gevallen is het toegestaan om gegevens langer te bewaren . Bijvoorbeeld als iemand
                strafbare feiten pleegt en de vastgelegde gegevens noodzakelijk zijn voor opsporing. Dit kan een verlenging van de bewaartermijn tot
                gevolg hebben.</p>
            <h2>Hoe wij persoonsgegevens beveiligen</h2>
            <p>AZ neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang,
                ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan.</p>
            <h2>Gegevens inzien, aanpassen of verwijderen</h2>
            <p>U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. Daarnaast heeft u het recht om uw
                eventuele toestemming voor de gegevensverwerking in te trekken, of bezwaar te maken tegen de verwerking van uw persoonsgegevens door
                AZ.</p>
            <p>U kunt een verzoek indienen met behulp van <a
                        href="https://www.rijksoverheid.nl/ministeries/ministerie-van-algemene-zaken/privacy/privacy-verzoekenformulier-az">ons&nbsp;privacyformulier</a>.
                We reageren zo snel mogelijk, maar uiterlijk binnen vier weken, op uw verzoek.<br>U kunt ook <a
                        href="https://autoriteitpersoonsgegevens.nl/nl/zelf-doen/privacyrechten/klacht-indienen-bij-de-ap">een melding doen bij de&nbsp;Autoriteit
                    Persoonsgegevens</a>.</p>

        </div>
    </section>
{% endblock %}
