
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

### Robot Framework ###
/tests/robot_framework/results
/tests/robot_framework/libraries/__pycache__
/tests/robot_framework/files/generated
.venv
.pabotsuitenames

/env
/*.hidden

/coverage
/database

/public/sitemap*.xml
/public/documentatie/

Taskfile.yml
.task
auth.json
.npmrc.auth
.phpstan.cache
.phpcs-cache
.phpmd.result-cache.php
hashes.json
lib/
reports
