volumes:
  es_data:
    driver: local
  postgres_data:
    driver: local
  minio_data:
    driver: local
  woo_composer:
    external: true
  woo_npm:
    external: true

networks:
  woopie:
    driver: bridge

services:
  app:
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:0.6.3
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - target: 80
        published: 8000
    volumes:
      - ./:/var/www/html
      - ./docker/app/php.ini:/usr/local/etc/php/custom.d/php.ini
      - ./auth.json:/home/woopie/.composer/auth.json:ro
      - woo_composer:/home/woopie/.composer
      - woo_npm:/home/woopie/.npm
      - ./docker/app/balie-woopie.conf:/etc/apache2/sites-available/balie-woopie.conf
      - ./docker/app/open-woopie.conf:/etc/apache2/sites-available/open-woopie.conf
      - ./docker/app/api-woopie.conf:/etc/apache2/sites-available/api-woopie.conf
      - ./docker/app/woopie.conf:/etc/apache2/sites-available/woopie.conf
    networks:
      woopie:
        aliases:
          - app.local
          - open.local
          - balie.local
          - api.local
    environment:
      PHP_INI_SCAN_DIR: "/usr/local/etc/php/custom.d:/usr/local/etc/php/conf.d"
      MC_CONFIG_DIR: /tmp/mc
      MC_HOST_local: http://root:password@minio:9000

  worker:
    depends_on:
      - rabbitmq
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:0.6.3
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
    volumes:
      - ./:/var/www/html
      - ./docker/app/php.ini:/usr/local/etc/php/custom.d/php.ini
    networks:
      - woopie
    environment:
      PHP_INI_SCAN_DIR: "/usr/local/etc/php/custom.d:/usr/local/etc/php/conf.d"
    stop_signal: SIGINT
    restart: unless-stopped
    command:
      [
        "bash",
        "-c",
        "wait-for-it rabbitmq:5672 --timeout=0 --strict -- symfony run --watch=config,src,templates,vendor php -d memory_limit=-1 bin/console messenger:consume --memory-limit=1G -vv high esupdater ingestor global",
      ]

  tika:
    image: apache/tika:2.9.2.1
    platform: linux/amd64
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - target: 9998
        published: 9998
    networks:
      - woopie

  elasticsearch:
    image: elasticsearch:7.17.26
    labels:
      com.symfony.server.service-ignore: true
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
      - http.cors.enabled=true
      - http.cors.allow-origin=/https:\/\/app.elasticvue.com/
      # - http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - target: 9200
        published: 9200
    networks:
      - woopie

  redis:
    image: redis:5
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - target: 6379
        published: 6379
    networks:
      - woopie

  rabbitmq:
    image: rabbitmq:3-management
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - target: 5672
        published: 5672
      - target: 15672
        published: 15672
    networks:
      - woopie

  postgres:
    image: postgres:14.10-bookworm
    labels:
      com.symfony.server.service-ignore: true
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - target: 5432
        published: 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - woopie
    command: ["postgres", "-c", "log_statement=all"]

  clamav:
    build:
      context: .
      dockerfile: docker/clamav/Dockerfile
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - target: 3310
        published: 3310
    networks:
      - woopie

  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    ports:
      - target: 9000
        published: 9000
      - target: 9001
        published: 9001
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: password
      MC_QUIET: 1
    volumes:
      - minio_data:/data
    networks:
      - woopie
    command: ["server", "/data", "--console-address", ":9001"]

  sphinx:
    profiles: [build-only]
    build:
      context: .
      dockerfile: docker/sphinx/Dockerfile
    labels:
      com.symfony.server.service-ignore: true
    volumes:
      - ./docs:/docs

  spectral:
    profiles: [api-linting]
    image: stoplight/spectral:6.15.0
    labels:
      com.symfony.server.service-ignore: true
    networks:
      - woopie
    volumes:
      - ./API-Design-Rules.spectral.yml:/usr/src/spectral/.spectral.yml
