volumes:
  es_data:
    driver: local
  postgres_data:
    driver: local
  minio_data:
    driver: local
  woo_composer:
    external: true
  woo_npm:
    external: true

networks:
  woopie:
    driver: bridge

services:

  public:
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:${PHP_IMAGE_TAG:-0.9.1}
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: public-woo.local
      dev.orbstack.http-port: 80
    volumes:
      - ./:/var/www/html
      - ./docker/php/files/usr/local/etc/php/conf.d/zzz-custom.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
      - ./docker/php/files/usr/local/etc/php/conf.d/090-xdebug.ini:/usr/local/etc/php/conf.d/090-xdebug.ini
      - woo_composer:/home/woopie/.composer
      - woo_npm:/home/woopie/.npm
      - ./docker/php/files/etc/apache2/sites-available/public-woo.conf:/etc/apache2/sites-available/public-woo.conf
    networks:
      woopie:
        aliases:
          - public-woo.local
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ID: PUBLIC

  admin:
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:${PHP_IMAGE_TAG:-0.9.1}
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: admin-woo.local
      dev.orbstack.http-port: 80
    volumes:
      - ./:/var/www/html
      - ./docker/php/files/usr/local/etc/php/conf.d/zzz-custom.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
      - ./docker/php/files/usr/local/etc/php/conf.d/090-xdebug.ini:/usr/local/etc/php/conf.d/090-xdebug.ini
      - woo_composer:/home/woopie/.composer
      - woo_npm:/home/woopie/.npm
      - ./docker/php/files/etc/apache2/sites-available/admin-woo.conf:/etc/apache2/sites-available/admin-woo.conf
    networks:
      woopie:
        aliases:
          - admin-woo.local
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
      APP_ID: ADMIN
      MC_CONFIG_DIR: /tmp/mc
      MC_HOST_local: http://root:password@minio:9000

  publication_api:
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:${PHP_IMAGE_TAG:-0.9.1}
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
    ports:
      - ${DOCKER_PUBLICATION_API_HTTPS_PORT:-8443}:443
    volumes:
      - ./:/var/www/html
      - ./docker/php/files/usr/local/etc/php/conf.d/zzz-custom.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
      - ./docker/php/files/usr/local/etc/php/conf.d/090-xdebug.ini:/usr/local/etc/php/conf.d/090-xdebug.ini
      - woo_composer:/home/woopie/.composer
      - woo_npm:/home/woopie/.npm
      - ./docker/php/files/etc/apache2/sites-available/publication-api-woo.conf:/etc/apache2/sites-available/publication-api-woo.conf
      - ./docker/php/files/etc/apache2/sites-available/publication-api-woo-ssl.conf:/etc/apache2/sites-available/publication-api-woo-ssl.conf
      - ./docker/certs/generated/server-bundle.pem:/etc/apache2/certs/server-bundle.pem:ro
      - ./docker/certs/generated/private/server.key.pem:/etc/apache2/certs/server.key.pem:ro
      - ./docker/certs/generated/client-bundle.pem:/etc/apache2/certs/client-bundle.pem:ro
      - ./docker/certs/generated/:/tmp/test-certs/:ro
    networks:
      woopie:
        aliases:
          - publication-api-woo.local
    environment:
      APP_ID: PUBLICATION_API

  worker:
    depends_on:
      - rabbitmq
    image: ghcr.io/minvws/nl-rdo-woo-web-private/php:${PHP_IMAGE_TAG:-0.9.1}
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    labels:
      com.symfony.server.service-ignore: true
    volumes:
      - ./:/var/www/html
      - ./docker/php/files/usr/local/etc/php/conf.d/zzz-custom.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
      - ./docker/php/files/usr/local/etc/php/conf.d/090-xdebug.ini:/usr/local/etc/php/conf.d/090-xdebug.ini
    networks:
      - woopie
    environment:
      APP_ID: WORKER
    stop_signal: SIGINT
    restart: unless-stopped
    command:
      [
        "bash",
        "-c",
        "wait-for-it rabbitmq:5672 --timeout=0 --strict -- symfony run --watch=config,src,templates,vendor php -d memory_limit=-1 bin/console messenger:consume --memory-limit=1G -vv high esupdater ingestor global",
      ]

  tika:
    image: apache/tika:2.9.2.1
    platform: linux/amd64
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: tika-woo.local
    networks:
      - woopie

  elasticsearch:
    image: elasticsearch:7.17.26
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: elasticsearch-woo.local
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
      - http.cors.enabled=true
      - http.cors.allow-origin=/https:\/\/app.elasticvue.com/
      # - http.cors.allow-headers: X-Requested-With,Content-Type,Content-Length,Authorization
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - woopie

  redis:
    image: redis:5
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: redis-woo.local
    networks:
      - woopie

  rabbitmq:
    image: rabbitmq:3-management
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: rabbitmq-woo.local
    networks:
      - woopie

  postgres:
    image: postgres:14.10-bookworm
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: postgres-woo.local
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - woopie
    command: ["postgres", "-c", "log_statement=all"]

  clamav:
    build:
      context: .
      dockerfile: docker/clamav/Dockerfile
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: clamav-woo.local
    networks:
      - woopie

  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    labels:
      com.symfony.server.service-ignore: true
      dev.orbstack.domains: minio-woo.local
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: password
      MC_QUIET: 1
    volumes:
      - minio_data:/data
    networks:
      - woopie
    command: ["server", "/data", "--console-address", ":9001"]

  sphinx:
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    profiles: [build-only]
    build:
      context: .
      dockerfile: docker/sphinx/Dockerfile
    labels:
      com.symfony.server.service-ignore: true
    volumes:
      - ./docs:/docs

  spectral:
    profiles: [api-linting]
    image: stoplight/spectral:6.15.0
    labels:
      com.symfony.server.service-ignore: true
    networks:
      - woopie
    volumes:
      - ./API-Design-Rules.spectral.yml:/usr/src/spectral/.spectral.yml

  certs:
    profiles: [build-only]
    build:
      context: .
      dockerfile: docker/certs/Dockerfile
      args:
        G4_TRIAL_VERSION: ${G4_TRAIL_VERSION:-v2.2}
    labels:
      com.symfony.server.service-ignore: true
    volumes:
      - ./docker/certs/config.yaml:/usr/src/g4-trial/config.yaml
      - ./docker/certs/enrollments:/usr/src/enrollments
      - ./docker/certs/scripts:/usr/src/scripts

  robot:
    profiles: [build-only]
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    build:
      context: .
      dockerfile: docker/robot/Dockerfile
    networks:
      - woopie
    environment:
      ENVIRONMENT: docker
      URL_PUBLIC: http://public-woo.local
      URL_ADMIN: http://admin-woo.local/balie
      HEADLESS: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./tests/robot_framework/tests:/home/pwuser/tests
      - ./tests/robot_framework/resources:/home/pwuser/resources
      - ./tests/robot_framework/libraries:/home/pwuser/libraries
      - ./tests/robot_framework/files:/home/pwuser/files
      - ./tests/robot_framework/results:/home/pwuser/results
      - ./tests/robot_framework/.otp_secret:/home/pwuser/.otp_secret
      - ./tests/robot_framework/order.txt:/home/pwuser/order.txt
      - ./docker/certs/generated:/home/pwuser/certs/generated
