<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg value="ps"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12"/>

    <file>src/</file>
    <file>apps/</file>
    <file>tests/</file>
    <file>phparkitect.php</file>

    <rule ref="vendor/slevomat/coding-standard/SlevomatCodingStandard/Sniffs/TypeHints/DeclareStrictTypesSniff.php" />
    <rule ref="SlevomatCodingStandard.Namespaces.ReferenceUsedNamesOnly">
        <properties>
            <property name="searchAnnotations" value="true"/>
            <property name="allowFallbackGlobalFunctions" value="false"/>
            <property name="allowFallbackGlobalConstants" value="false"/>
            <property name="allowFullyQualifiedExceptions" value="false"/>
            <property name="allowFullyQualifiedNameForCollidingClasses" value="true"/>
            <property name="allowFullyQualifiedNameForCollidingFunctions" value="true"/>
            <property name="allowFullyQualifiedNameForCollidingConstants" value="true"/>
            <property name="allowPartialUses" value="true"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses">
        <properties>
            <property name="caseSensitive" value="false"/>
        </properties>
    </rule>
    <rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <property name="searchAnnotations" value="true"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes">
        <properties>
          <property name="spacesCountAroundEqualsSign" value="0" />
        </properties>
      </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="150"/>
        </properties>
    </rule>

    <rule ref="PSR12.Classes.AnonClassDeclaration.SpaceAfterKeyword">
        <severity>0</severity>
    </rule>

    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array" >
                <element key="eval" value="null"/>
                <element key="dd" value="null"/>
                <element key="dump" value="null"/>
                <element key="debug_backtrace" value="null"/>
                <element key="phpinfo" value="null"/>
                <element key="print_r" value="null"/>
                <element key="die" value="null"/>
                <element key="exit" value="null"/>
                <element key="var_dump" value="null"/>
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="create_function" value="null"/>
                <element key="empty" value="null"/>
            </property>
        </properties>
    </rule>
</ruleset>
