parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 6
			path: src/Controller/Public/Dossier/WooDecision/DocumentController.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 4
			path: src/Controller/Public/Dossier/WooDecision/InquiryController.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Domain/Publication/Dossier/Type/WooDecision/ViewModel/WooDecisionViewFactory.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Domain/Publication/Dossier/ViewModel/SubjectViewFactory.php

		-
			message: '''
				#^Call to deprecated method handleEntityUpdate\(\) of class Shared\\Service\\DossierService\:
				to be removed in WOO\-2066$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Domain/Publication/Dossier/Workflow/DossierWorkflowManager.php

		-
			message: '#^Cannot access offset ''_meta'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Cannot access offset ''mappings'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Cannot access offset ''version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Method Shared\\Domain\\Search\\Index\\ElasticIndex\\ElasticIndexManager\:\:listAlias\(\) should return array\<int, array\<string, array\<string, mixed\>\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|GMP\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Domain/Search/Query/SearchParameters.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Domain/Search/Query/SearchParametersFactory.php

		-
			message: '#^Generator expects value type Generator\<int, T, mixed, mixed\>, Generator\<int, mixed, mixed, void\> given\.$#'
			identifier: generator.valueType
			count: 1
			path: src/Domain/WooIndex/Producer/UrlProducer.php

		-
			message: '#^Method Shared\\Service\\Search\\Query\\Dsl\\GlobalAggregation\:\:build\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Service/Search/Query/Dsl/GlobalAggregation.php

		-
			message: '#^Method Shared\\Service\\Search\\Query\\Dsl\\TermsAggregationWithMinDocCount\:\:buildAggregation\(\) should return array\<string, string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Service/Search/Query/Dsl/TermsAggregationWithMinDocCount.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Cannot call method getInt\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Cannot call method getString\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Parameter \#2 \$count of class Shared\\Service\\Search\\Model\\AggregationBucketEntry constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of method Shared\\Domain\\Search\\Query\\Facet\\Input\\FacetInputFactory\:\:createStringFacetInputForValue\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Cannot call method toArray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#1 \$data of class MinVWS\\TypeArray\\TypeArray constructor expects array\<mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#1 \$hit of method Shared\\Domain\\Search\\Result\\ResultFactory\:\:map\(\) expects MinVWS\\TypeArray\\TypeArray, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#2 \$buckets of method Shared\\Service\\Search\\Result\\AggregationMapper\:\:map\(\) expects iterable\<\(int\|string\), MinVWS\\TypeArray\\TypeArray\>, iterable\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''department'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''departments\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''match'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''should'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''dossier'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''dossiers\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''must'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''nested'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''term'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''content'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''page'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''page_nr'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''match'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''should'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''subject'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''subject\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '''
				#^Call to deprecated method getParamName\(\) of enum Shared\\Service\\Search\\Model\\FacetKey\:
				use FacetDefinition\:\:\$requestParameter instead, see WOO\-6328$#
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/Domain/Search/Query/SearchParametersFactoryTest.php
