includes:
    - phpstan-baseline.neon

parameters:
    tmpDir: ./.phpstan.cache
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    doctrine:
        objectManagerLoader: phpstan-doctrine-orm-bootstrap.php
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
        - apps
    excludePaths:
        - src/Domain/Publication/Dossier/Type/**/*Workflow.php
        - config/packages/workflow.php
    level: max
    symfony:
        containerXmlPath: var/cache/minvws/shared/dev/Shared_KernelMinvwsSharedDevDebugContainer.xml
    faker:
        providerClasses:
            - Shared\Tests\Faker\GroundsFakerProvider
            - Shared\Tests\Faker\ValueObjectFakerProvider
    ignoreErrors:
        - identifier: missingType.generics

services:
    errorFormatter.junit:
        class: PHPStan\Command\ErrorFormatter\JUnitErrorFormatter
    -
        class: Woo\Stan\Rules\DontUseShouldReceiveRule
        tags:
            - phpstan.rules.rule
