parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @var with type MinVWS\\AuditLogger\\Contracts\\LoggableUser is not subtype of native type Symfony\\Component\\Security\\Core\\User\\UserInterface\|null\.$#'
			identifier: varTag.nativeType
			count: 1
			path: apps/admin/src/Controller/SecurityController.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: apps/admin/src/Controller/SecurityController.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: apps/admin/src/Form/User/RoleType.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: apps/admin/src/Form/User/RoleType.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: apps/admin/src/Form/User/RoleType.php

		-
			message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Controller/Admin/Dossier/WooDecision/DocumentsEditStepController.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Admin/InquiryController.php

		-
			message: '#^Parameter \#3 \$response of method Shared\\DataCollector\\ElasticCollector\:\:addCall\(\) expects Elastic\\Elasticsearch\\Response\\Elasticsearch, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataCollector/CollectorClient.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/DataCollector/ElasticCollector.php

		-
			message: '#^Method Shared\\DataCollector\\ElasticCollector\:\:getCalls\(\) should return array\<mixed\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/DataCollector/ElasticCollector.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Doctrine/EncryptedArray.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Doctrine/EncryptedString.php

		-
			message: '#^Method Shared\\Domain\\Ingest\\Content\\LazyFileReference\:\:getPath\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Ingest/Content/LazyFileReference.php

		-
			message: '#^Property Shared\\Domain\\Ingest\\Content\\LazyFileReference\:\:\$path \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Domain/Ingest/Content/LazyFileReference.php

		-
			message: '#^Method Shared\\Domain\\Publication\\Dossier\\ViewModel\\DossierTypeViewFactory\:\:makeCollection\(\) should return list\<Shared\\Domain\\Publication\\Dossier\\ViewModel\\DossierType\> but returns list\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Publication/Dossier/ViewModel/DossierTypeViewFactory.php

		-
			message: '#^Parameter \#2 \$dossierDoc of method Shared\\Domain\\Search\\Index\\Updater\\NestedDossierIndexUpdater\:\:update\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Domain/Search/Index/Dossier/DossierIndexer.php

		-
			message: '#^Cannot access offset ''_meta'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Cannot access offset ''mappings'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Cannot access offset ''version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Method Shared\\Domain\\Search\\Index\\ElasticIndex\\ElasticIndexManager\:\:listAlias\(\) should return array\<int, array\<string, array\<string, mixed\>\>\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Domain/Search/Index/ElasticIndex/ElasticIndexManager.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Domain/Search/Index/Rollover/RolloverCounter.php

		-
			message: '#^Cannot call method getInt\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: src/Domain/Search/Index/Rollover/RolloverCounter.php

		-
			message: '#^Cannot call method getIterable\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Domain/Search/Index/Rollover/RolloverCounter.php

		-
			message: '#^Cannot call method getString\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Domain/Search/Index/Rollover/RolloverCounter.php

		-
			message: '#^Method Shared\\Domain\\Search\\Index\\Rollover\\RolloverCounter\:\:getElasticCounts\(\) should return array\<string, array\{count\: int, subtypes\?\: non\-empty\-array\<string, array\{count\: int, pages\: int\}\>\}\> but returns array\<string, array\{count\: mixed, subtypes\?\: non\-empty\-array\<string, array\{count\: mixed, pages\: mixed\}\>\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Search/Index/Rollover/RolloverCounter.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Domain/Search/Query/Facet/Input/DateFacetInput.php

		-
			message: '#^Generator expects value type Generator\<int, T, mixed, mixed\>, Generator\<int, mixed, mixed, void\> given\.$#'
			identifier: generator.valueType
			count: 1
			path: src/Domain/WooIndex/Producer/UrlProducer.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/EventSubscriber/LocaleListener.php

		-
			message: '#^Cannot access offset ''help'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/ChoiceTypeWithHelp.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/ChoiceTypeWithHelp.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Form/ChoiceTypeWithHelp.php

		-
			message: '#^Parameter \#3 \$options of method Symfony\\Component\\Form\\Extension\\Core\\Type\\ChoiceType\:\:finishView\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/ChoiceTypeWithHelp.php

		-
			message: '#^Cannot call method get\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Kernel.php

		-
			message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Service/FileReader/CsvReader.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Service/FileReader/CsvReader.php

		-
			message: '#^Parameter \#1 \$headers of method Shared\\Service\\FileReader\\CsvReaderFactory\:\:resolveHeaderMapping\(\) expects array\<string\>, list\<string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/FileReader/CsvReaderFactory.php

		-
			message: '#^Parameter \#1 \$headers of method Shared\\Service\\FileReader\\ExcelCsvReaderFactory\:\:resolveHeaderMapping\(\) expects array\<string\>, list\<string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/FileReader/ExcelCsvReaderFactory.php

		-
			message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/FileReader/ExcelReader.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Service/FileReader/ExcelReader.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/FileReader/ExcelReaderFactory.php

		-
			message: '#^Cannot use \+\+ on mixed\.$#'
			identifier: postInc.type
			count: 1
			path: src/Service/Inventory/InventoryChangeset.php

		-
			message: '#^Method Shared\\Service\\Inventory\\InventoryChangeset\:\:getCounts\(\) should return array\<string, int\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Service/Inventory/InventoryChangeset.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: src/Service/Inventory/InventoryDataHelper.php

		-
			message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Inventory/Reader/InventoryReader.php

		-
			message: '#^Parameter \$values of static method Erichard\\ElasticQueryBuilder\\Query\\Query\:\:terms\(\) expects array\<int, bool\|float\|int\|string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Service/Search/Query/Condition/ContentAccessConditionBuilder.php

		-
			message: '#^Method Shared\\Service\\Search\\Query\\Dsl\\GlobalAggregation\:\:build\(\) should return array\<string, mixed\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Service/Search/Query/Dsl/GlobalAggregation.php

		-
			message: '#^Method Shared\\Service\\Search\\Query\\Dsl\\TermsAggregationWithMinDocCount\:\:buildAggregation\(\) should return array\<string, string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Service/Search/Query/Dsl/TermsAggregationWithMinDocCount.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Cannot call method getInt\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Cannot call method getString\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Parameter \#2 \$count of class Shared\\Service\\Search\\Model\\AggregationBucketEntry constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of method Shared\\Domain\\Search\\Query\\Facet\\Input\\FacetInputFactory\:\:createStringFacetInputForValue\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/AggregationMapper.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Cannot call method toArray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#1 \$data of class MinVWS\\TypeArray\\TypeArray constructor expects array\<mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#1 \$hit of method Shared\\Domain\\Search\\Result\\ResultFactory\:\:map\(\) expects MinVWS\\TypeArray\\TypeArray, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#2 \$buckets of method Shared\\Service\\Search\\Result\\AggregationMapper\:\:map\(\) expects iterable\<\(int\|string\), MinVWS\\TypeArray\\TypeArray\>, iterable\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/Result/ResultTransformer.php

		-
			message: '#^Parameter \#1 \$query of method Shared\\Service\\Search\\Result\\ResultTransformer\:\:transform\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Search/SearchService.php

		-
			message: '#^Property Shared\\Service\\Security\\Authorization\\Entry\:\:\$filters \(array\<string, bool\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/Security/Authorization/Entry.php

		-
			message: '#^Property Shared\\Service\\Security\\Authorization\\Entry\:\:\$permissions \(array\<string, bool\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/Security/Authorization/Entry.php

		-
			message: '#^Property Shared\\Service\\Security\\Authorization\\Entry\:\:\$prefix \(string\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/Security/Authorization/Entry.php

		-
			message: '#^Property Shared\\Service\\Security\\Authorization\\Entry\:\:\$roles \(array\<string\>\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/Security/Authorization/Entry.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/Security/OrganisationSwitcher.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Twig/Runtime/CspExtensionRuntime.php

		-
			message: '#^Parameter \#1 \$callback of method Zenstruck\\Foundry\\ObjectFactory\<Shared\\Domain\\Publication\\Dossier\\Type\\WooDecision\\Document\\Document\>\:\:beforeInstantiate\(\) expects callable\(array\<string, mixed\>, class\-string\<Shared\\Domain\\Publication\\Dossier\\Type\\WooDecision\\Document\\Document\>, Shared\\Tests\\Factory\\DocumentFactory\)\: array\<string, mixed\>, Closure\(array\)\: array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Factory/DocumentFactory.php

		-
			message: '#^Method Shared\\Tests\\Faker\\GroundsFakerProvider\:\:ground\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/Faker/GroundsFakerProvider.php

		-
			message: '#^Method Shared\\Tests\\Faker\\GroundsFakerProvider\:\:grounds\(\) should return list\<string\> but returns list\.$#'
			identifier: return.type
			count: 1
			path: tests/Faker/GroundsFakerProvider.php

		-
			message: '#^Method Shared\\Tests\\Faker\\GroundsFakerProvider\:\:groundsBetween\(\) should return list\<string\> but returns list\.$#'
			identifier: return.type
			count: 1
			path: tests/Faker/GroundsFakerProvider.php

		-
			message: '#^Anonymous function should return bool but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Domain/Department/Twig/DepartmentsTest.php

		-
			message: '#^Cannot call method andReturnTrue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Domain/Ingest/Process/Pdf/IngestPdfHandlerTest.php

		-
			message: '#^Cannot call method once\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Domain/Ingest/Process/Pdf/IngestPdfHandlerTest.php

		-
			message: '#^Cannot call method andReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Unit/Domain/Publication/Attachment/Enum/AttachmentTypeBranchTest.php

		-
			message: '#^Cannot call method once\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Unit/Domain/Publication/Attachment/Enum/AttachmentTypeBranchTest.php

		-
			message: '#^Cannot call method with\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Unit/Domain/Publication/Attachment/Enum/AttachmentTypeBranchTest.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''department'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''departments\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''match'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''should'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/DepartmentIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''dossier'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''dossiers\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''must'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''nested'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''term'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 1 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/NestedDossierIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''content'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''page'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''page_nr'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Domain/Search/Index/Updater/PageIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''bool'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''match'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''query'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''script'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''should'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''subject'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset ''subject\.id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Domain/Search/Index/Updater/SubjectIndexUpdaterTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getDateTime\(\) expects int, int\|string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getDateTime\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getInt\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getOptionalDateTime\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getOptionalInt\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Parameter \#1 \$rowIndex of method Shared\\Service\\FileReader\\CsvReader\:\:getOptionalString\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Service/FileReader/CsvReaderTest.php

		-
			message: '#^Cannot call method getRowIndex\(\) on PhpOffice\\PhpSpreadsheet\\Worksheet\\Row\|false\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Unit/Service/FileReader/ExcelReaderTest.php

		-
			message: '#^Cannot call method andReturn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Service/PaginatorFactoryTest.php

		-
			message: '#^Cannot call method with\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/Service/PaginatorFactoryTest.php
