<span class="bhr-input-icon bhr-input-icon--after pointer-events-none js-icon-magnifier">
    <twig:Admin:Icon name="magnifier" size="20" />
</span>
<button class="bhr-input-icon bhr-input-icon--after cursor-pointer hidden js-icon-cross" type="button">
    <twig:Admin:Icon name="cross" color="fill-spanish-gray" size="20" />
    <span class="sr-only">Wis tekstinvoer</span>
</button>
