<div class="hidden md:block h-32 lg:h-40 bg-cover bg-center bg-(image:--img-woo-hero)"></div>

<div class="bg-woo-anti-flash-white mx-auto p-4 md:p-6 md:bg-white md:max-w-2xl md:shadow-[0_0_7px_0_rgba(0,0,0,0.25)] md:-mt-12">
    <twig:Public:SearchForm  />
</div>
