{% extends 'public/gpt/base.html.twig' %}

{% block body %}
<div class="woo-container woo-container--xs">
    <h1 class="woo-h1 woo-h1-spacing">
        {{ aboutPlatformContent.title }} <twig:Public:Gpt:Beta />
    </h1>

    <div class="woo-rich-text">
        {{ aboutPlatformContent.content | render_markdown }}

        <div id="over-gegenereerde-antwoorden">
            <h2>{{ aboutGeneratedAnswersContent.title }}</h2>

            {{ aboutGeneratedAnswersContent.content | render_markdown }}
        </div>
    </div>
</div>
{% endblock %}
