{% extends 'admin.html.twig' %}

{% set page_title = "Modify department {name}" | trans({'name': department.name}) %}

{% block body %}
<div class="woo-container woo-container--sm">
    <h1 class="woo-title text-center mb-10">{{ page_title }}</h1>

    <div class="woo-card">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
