{#
    Displays a single active facet filter with the given title and url.
#}
{% macro active_facet(title, url) %}
    <li class="inline-block mr-2">
        <a class="bhr-pill bhr-pill--with-icon hover:line-through" href="{{ url }}">
            <span class="sr-only">{{ "Remove filter" | trans() }}</span> {{ title }}
            <span class="bhr-pill__icon"><twig:Admin:Icon name="cross" size="12" /></span>
        </a>
    </li>
{% endmacro %}
