security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: Shared\Service\Security\User
                property: email

    firewalls:
        balie:
            pattern: ^/balie
            user_checker: Shared\Service\Security\UserChecker
            form_login:
                provider: app_user_provider
                login_path: app_login
                check_path: app_login
            logout:
                path: app_logout
                target: app_home
            two_factor:
                auth_form_path: 2fa_login
                check_path: 2fa_login_check
            login_throttling:
                max_attempts: 3
                interval: '10 minutes'
        main:
            pattern: ^/
            security: false

    role_hierarchy:
        ROLE_SUPER_ADMIN: ROLE_BALIE
        ROLE_ORGANISATION_ADMIN: ROLE_BALIE
        ROLE_DOSSIER_ADMIN: ROLE_BALIE
        ROLE_VIEW_ACCESS: ROLE_BALIE

    access_control:
        - { path: ^/balie/login, roles: PUBLIC_ACCESS }
        - { path: ^/balie/logout, roles: PUBLIC_ACCESS }
        - { path: ^/balie/2fa, role: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^/balie/2fa_check, role: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^/balie/elastic, roles: ROLE_SUPER_ADMIN }
        - { path: ^/balie/profiel, roles: ROLE_BALIE }
        - { path: ^/balie, roles: ROLE_BALIE }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
