{% extends 'public/department/details_base.html.twig' %}

{% set logoPath = asset('assets/img/public/departments/ccmo.svg') %}
{% set logoClass = 'mb-4 max-w-[400px]' %}

{% block department_content %}
    <div class="woo-readable-width">
        <h1 class="woo-h1 woo-h1-spacing font-normal">Over de CCMO</h1>

        <div class="woo-rich-text">
            <p>De Centrale Commissie Mensgebonden Onderzoek (CCMO) is in 1999 ingesteld op basis van de Wet medisch-wetenschappelijk onderzoek met mensen (WMO). De CCMO ziet erop toe dat deelnemers aan medisch-wetenschappelijk onderzoek voldoende beschermd zijn. Zij doet dat door voorgenomen onderzoek dat onder de WMO of de Embryowet valt te toetsen aan de wettelijke bepalingen. Naast toetsingscommissie is de CCMO ook <a href="https://www.ccmo.nl/metcs/toezicht">toezichthouder</a> op de <a href="https://www.ccmo.nl/metcs/erkende-metcs">erkende medisch-ethische toetsingscommissies (METC's)</a> in Nederland.</p>
            <p>De CCMO publiceert informatie op <a href="https://www.ccmo.nl">ccmo.nl</a>, <a href="https://english.ccmo.nl">english.ccmo.nl</a> en <a href="https://onderzoekmetmensen.nl">onderzoekmetmensen.nl</a>.</p>
            <p>Op deze pagina vindt u informatie over Woo-besluiten.</p>
        </div>
    </div>
{% endblock %}
