{% extends 'public/department/details_base.html.twig' %}

{% block department_content %}
    <div class="woo-readable-width">
        <h1 class="woo-h1 woo-h1-spacing font-normal">{{ 'public.department.public_information_by_department' | trans({ department: 'het CIBG' }) }}</h1>

        <h2 class="woo-h3 woo-h3-spacing">Over het CIBG</h2>
        <div class="woo-rich-text">
            <p>Als uitvoeringsorganisatie van het ministerie van Volksgezondheid, Welzijn en Sport biedt het CIBG transparante en betrouwbare data en informatie in zorg en welzijn. Organisaties, mensen en soms zelfs de gezondheid van mensen zijn hiervan afhankelijk. Wie is wie, wie kan wat en wie mag wat? Via onder andere registers en knooppunten geeft het CIBG inzicht in deze vragen.</p>
            <p>Op deze pagina vindt u een overzicht van de informatie die door het CIBG openbaar gemaakt is op grond van de Wet open overheid.</p>

            <p class="mb-1!">Andere informatie gepubliceerd door het CIBG vindt u via onderstaande links:</p>
            <ul>
                <li><a href="https://organisaties.overheid.nl/106676/CIBG">Organisatiegegevens</a></li>
                <li><a href="https://www.cibg.nl/producten-en-diensten">Producten en diensten</a></li>
                <li><a href="https://organisaties.overheid.nl/woo/106676/CIBG">Woo-register</a></li>
            </ul>
        </div>

        <h2 class="mt-6 woo-h3 woo-h3-spacing">Contact</h2>
        <div class="woo-rich-text">
            <p>U vindt onze contactgegevens op <a href="https://www.cibg.nl/contact">deze website</a>.</p>
        </div>
    </div>
{% endblock %}
