{% extends 'public/department/details_base.html.twig' %}

{% set logoPath = asset('assets/img/public/departments/dopingautoriteit.svg') %}
{% set logoClass = 'mb-4 max-w-[400px]' %}

{% block department_content %}
    <div class="woo-readable-width">
        <h1 class="woo-h1 woo-h1-spacing font-normal">Dopingautoriteit</h1>

        <div class="woo-rich-text">
            <p>Op 1 januari 2019 is Zelfstandig bestuursorgaan Dopingautoriteit opgericht. Dit gebeurde gelijktijdig met de invoering van de Wet uitvoering antidopingbeleid (Wuab). De Wuab geeft de Dopingautoriteit de wettelijke grondslag voor het uitvoeren van de taken. De missie van de Dopingautoriteit is het realiseren van dopingvrije sport in Nederland.</p>
        </div>
    </div>
{% endblock %}
