<span class="flex">
    <span class="mr-3">
        <twig:Admin:MimeTypeIcon mimeType="{{ mimeType }}" size="20" />
    </span>
    <span class="grow truncate pt-0.5">
        {{ fileName }}
    </span>
</span>
