<a class="hover-focus:text-bhr-blue-900 visited:text-bhr-grape-900" href="{{ href|default('') }}">
    {% block content %}<twig:Admin:Icon name="{{ icon|default('') }}" />{% endblock %}

    <span class="pl-1 text-bhr-blue-800 underline">{{ text|default('') }}</span>
</a>
