<a class="hover-focus:text-ateneo-blue visited:text-plum" href="{{ href|default('') }}">
    <twig:Admin:Icon name="{{ icon|default('') }}" />

    <span class="pl-1 text-sea-blue underline">{{ text|default('') }}</span>
</a>
