{% if titles | length > 0 %}
    <ul class="bhr-tab-list" role="tablist" aria-label="{{ title }}">
        {% for tabTitle in titles %}
            <li class="bhr-tab-list__item" role="presentation">
                <twig:Admin:Tab:Button
                    isActive="{{ loop.first }}"
                    tabNumber="{{ loop.index }}"
                    title="{{ tabTitle }}"
                />
            </li>
        {% endfor %}
    </ul>

    {% block content %}{% endblock %}
{% endif %}
