{% extends 'public/department/details_base.html.twig' %}

{% block department_content %}
    {% if departmentLogo is not null %}
        <img class="mb-4 max-w-[400px]" src="{{ departmentLogo }}" alt="Bestuursorgaan Logo" data-e2e-name="landing-page-img">
    {% endif %}

    <div class="woo-readable-width" data-e2e-name="landing-page-body">
        <h1 class="woo-h1 woo-h1-spacing font-normal">{{ department.landingPageTitle | default('public.department.public_information_by_department' | trans({ department: department.name })) }}</h1>

        <div class="woo-rich-text">
            {% if (department.landingPageDescription is not empty) %}
                {{ department.landingPageDescription | render_markdown | raw }}
            {% else %}
                <p>{{ 'public.department.public_information_default_description' | trans({ department: department.name }) | raw }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
