@theme {
    --breakpoint-xs: 30rem;

    --color-woo-gray-50: #f3f3f3;
    --color-woo-gray-100: #f1f3f5;
    --color-woo-gray-200: #e9ecef;
    --color-woo-gray-300: #dee2e6;
    --color-woo-gray-400: #ced4da;
    --color-woo-gray-600: #696969;
    --color-woo-gray-700: #495057;
    --color-woo-gray-800: #343a40;
    --color-woo-gray-900: #212529;
    --color-woo-dark-blue-600: #01689b;
    --color-woo-dark-blue-700: #005487;
    --color-woo-dark-green-600: #39870c;
    --color-woo-dark-green-700: #026900;
    --color-woo-dark-yellow-50: #fef4db;
    --color-woo-light-blue-50: #eef7fc;
    --color-woo-light-blue-100: #ddeff8;
    --color-woo-pink-800: #c2255c;
    --color-woo-purple-600: #714f87;
    --color-woo-red-700: #f03e3e;
    --color-woo-red-800: #a00000;
    --color-woo-ruby-red-500: #d74085;
    --color-woo-ruby-red-800: #814081;

    --font-sans: 'RO Sans Web', 'system-ui', 'sans-serif';
    --font-serif: 'RO Serif Web', 'serif';

    --img-woo-hero: url(/public/img/public/hero/krimpenerwaard-tineke-dijkstra.jpg);

    --list-style-type-circle: circle;
  }
