<table class="bhr-table table-fixed">
   <thead>
       <th class="bhr-column-head w-60" scope="col">Datum</th>
       <th class="bhr-column-head" scope="col">Actie</th>
   </thead>
   <tbody>
   {% for entry in get_history('dossier', id) %}
       <tr>
           <td nowrap>{{ entry.createdDt | format_datetime('long') }}</td>
           <td>{{ ("history." ~ entry.contextKey ~ ".title") | trans(entry.context) }}<br>
               <i>{{ ("history." ~ entry.contextKey ~ ".description") | trans(entry.context) }}</i>
           </td>
       </tr>
   {% endfor %}
   </tbody>
</table>
