{% extends 'public/base.html.twig' %}

{% set page_title = page.title %}

{% block body %}
    <section class="woo-container woo-container--sm pb-16">
        <div class="woo-readable-width" data-e2e-name="content-page-body">
            <h1 class="woo-h1 woo-h1-spacing font-normal">{{ page.title }}</h1>

            <div class="woo-rich-text">
                {{ page.content | render_markdown }}
            </div>
        </div>
    </section>
{% endblock %}
