{% extends 'admin.html.twig' %}

{% block body %}
    <div class="woo-container">
        <h1 class="woo-title text-center mb-10">{{ "Nieuw besluitdossier - publiceren" | trans() }}</h1>

        {% include 'admin/dossier/concept/workflow.html.twig' %}

        <div class="woo-card">
            {% include 'admin/dossier/form/publish.html.twig' %}
        </div>
    </div>
{% endblock %}
