{% if wo_breadcrumbs()|length %}
    {%- apply spaceless -%}

        <nav class="breadcrumb-bar" aria-label="{{ "You are here" | trans() }}">
            <div>
                <ol>
                    {% for b in breadcrumbs %}
                        <li>
                            <a href="{{ b.url }}" {% if loop.last %}aria-current="page"{% endif %}>
                                {{- b.text | trans() -}}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </nav>

    {% endapply %}
{% endif %}


