{% if wo_breadcrumbs()|length %}
    <nav class="-mt-2 mb-8" aria-label="{{ "You are here" | trans() }}">
        <ol>
            {% for breadcrumb in breadcrumbs %}
                {% if loop.last %}
                <li class="pt-2">
                    <h1 class="bhr-title-lg">
                        {{ breadcrumb.text | trans() }}
                    </h1>
                </li>
                {% else %}
                <li class="inline-flex">
                    <a class="underline text-lg inline-block hover:no-underline relative pr-10 py-2{% if not loop.first %} pl-4{% endif %}" href="{{ breadcrumb.url }}">
                        <span class="block truncate max-w-[186px]">{{ breadcrumb.text | trans() }}</span>

                        <twig:Admin:Icon name="chevron-right" class="absolute right-0 top-2.5" />
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}


