{#
    if extra information about this information request, give it an h2
    and similar styling to the dossier summary below
#}
<div class="bg-woo-anti-flash-white p-6 mt-10">
    <div class="woo-readable-width">
        <h2 class="woo-h2 font-normal mb-4">{{ 'global.summary' | trans }}</h2>
        <p data-e2e-name="dossier-summary">{{ dossier.summary }}</p>
    </div>
</div>
