/* Header navigation content wrapper */

:root {
  --header-navigation-content-wrapper-gap: 0;
  --header-navigation-content-wrapper-max-width: 100%;
  --header-navigation-content-wrapper-justify-content: flex-end;
}
