/* Header content wrapper */

:root {
  --header-content-wrapper-align-items: stretch;
  --header-content-wrapper-padding-right: 0;
  --header-content-wrapper-padding-left: 0;
  --header-content-wrapper-flex-direction: column;
}
