/* Logo */

:root {
  --logo-width: auto;
  --logo-height: auto;
  --logo-font-size: var(--application-base-font-size);
  --logo-white-space: nowrap;
  --logo-font-weight: bold;
  --logo-align-items: center;

  /* Img */
  --logo-img-background-color: #1a1a1a;
  --logo-img-width: 2rem;
  --logo-img-height: 2rem;
  --logo-img-border-radius: 50%;
}
