/* Pagination */

:root {
  --pagination-border-width: 0;
  --pagination-link-active-background-color: var(--basic-bold-accent-color-1);

  /* Hover */
  --pagination-link-hover-background-color: var(--basic-bold-accent-color-1);
}
