{% extends 'admin.html.twig' %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

        <div class="px-11">
            <div class="bhr-card">
                {% include 'admin/dossier/form/decision.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
