<div class="bhr-form-row">
    <h2 class="bhr-label">{{ title }}</h2>
    {{ form_errors(formField) }}
    {% do formField.setRendered %}
    <p class="bhr-form-help text-lg pb-2">{{ helpText }}</p>

    <div data-e2e-name="main-document" {{ vue_component('GenericController', {
        componentName: 'PublicationFiles',

        allowedFileTypes: allowedFileTypes | default([]),
        allowedMimeTypes: allowedMimeTypes | default([]),
        allowMultiple: false,
        canDelete: canDelete,
        dateLabel: dateLabel | default(null),
        endpoint: endpoint,
        fileTypeOptions: documentTypes,
        groundOptions: grounds,
        languageOptions: languages,
        readableFileType: documentType,
        uploadGroupId: "main-documents"
    }) }}>
        <div class="min-h-14"></div>
    </div>
</div>
