<div class="bhr-form-row">
    <h2 class="bhr-label">{{ title }}</h2>
    {{ form_errors(formField) }}
    {% do formField.setRendered %}
    <p class="bhr-form-help text-lg pb-2">{{ helpText }}</p>

    <div {{ vue_component('PublicationDocument', {
        allowedFileTypes: allowedFileTypes | default([]),
        allowedMimeTypes: allowedMimeTypes | default([]),
        canDelete: canDelete,
        documentType: documentType,
        endpoint: endpoint,
        fileTypeOptions: documentTypes,
        groundOptions: grounds,
        languageOptions: languages,
        uploadGroupId: "main-documents"
    }) }}>
        <div class="min-h-14"></div>
    </div>
</div>
