<div class="bhr-form-row">
    <h2 class="bhr-label">{{ title | default('Bijlagen') }} <span class="bhr-optional"><span class="sr-only">(</span>optioneel<span class="sr-only">)</span></span></h2>
    <p class="bhr-form-help">{{ helpText }}</p>

    <div data-e2e-name="attachments" {{ vue_component('GenericController', {
        componentName: 'PublicationFiles',

        canDelete: canDelete,
        dossierId: dossierId | default(null),
        endpoint: endpoint,
        e2eName: e2eName | default('attachments'),
        fileLimits: fileLimits | default([]),
        fileTypeOptions: documentTypes,
        groundOptions: grounds,
        languageOptions: languages,
        maxLength: maxLength | default(50),
        uploadEndpoint: uploadEndpoint | default(null),
        uploadGroupId: "attachments",
    }) }}>
        <div class="min-h-14"></div>
    </div>
</div>
