
{# Results #}
{% if result.entries | length > 0 %}
<h2 class="sr-only">{{ 'global.results' | trans }}</h2>
<ul>
    {% for entry in result.entries %}
    <li>
        {% include "search/entries/" ~ entry.type ~ ".html.twig" %}
    </li>
    {% endfor %}
</ul>
{% endif %}
