<div class="mb-3">
    {% for key,element in filter|default([]) %}
        {% if not element is iterable  %}
            {% set element=[element] %}
        {% endif %}
        {% for e in element %}
            <span class="badge bg-secondary">{{ key }}: {{ e | lower }} <i class="fa fa-close"></i></span>
        {% endfor %}
    {% endfor %}
</div>

