{% extends 'base.html.twig' %}

{% set page_title =
    result.type == constant('App\\Service\\Search\\Model\\Config::TYPE_DOSSIER')
        ? 'public.global.label.overview_publications' | trans()
        : 'public.global.label.search_publications' | trans()
%}

{% block search_form_top %}<twig:Public:SearchForm />{% endblock %}

{% block body %}
<div class="woo-container">
    {% if result.type == constant('App\\Service\\Search\\Model\\Config::TYPE_DOSSIER') %}
        <section class="pb-16 woo-rich-text woo-readable-width">
            <h1>{{ 'public.results.title' | trans }}</h1>
            <p>{{ 'public.results.description' | trans }}</p>
        </section>
    {% else %}
        <h1 class="sr-only">{{ 'public.search.label' | trans }}</h1>
    {% endif %}

    <div class="md:flex gap-8">
        <section class="shrink-0 md:w-56" id="js-search-filters">
            {% include "search/facet.html.twig" with { 'result': result } %}
        </section>

        <section class="grow pt-8 md:pt-0" id="search-results">
            <div id="js-search-results">
                {% include "search/entries.html.twig" with { 'result': result } %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
