{% extends 'base.html.twig' %}

{% set page_title =
    result.type == constant('App\\Service\\Search\\Result\\ResultEntry::TYPE_DOSSIER')
        ? "All published dossiers" | trans()
        : "Search for documents and decisions" | trans()
%}

{% block search_form_top %}
{% if result.type != constant('App\\Service\\Search\\Result\\ResultEntry::TYPE_DOSSIER') %}
    {% include "search/searchbar.html.twig" %}
{% endif %}
{% endblock %}

{% block body %}
{% if result.type == constant('App\\Service\\Search\\Result\\ResultEntry::TYPE_DOSSIER') %}
    <section class="py-8">
        <div class="gap-0">
            <h1 class="mb-3">{{ "All Wob and Woo decisions" | trans() }}</h1>
            <p class="mb-0">{{ "All COVID-19 related Wob and Woo documents and decisions will be published on this website from September 2023. Decisions from the previous period can be found on wobcovid19.rijksoverheid.nl and will soon also be available here." | trans() }}</p>
            {# <a href="#">{{ "Subscribe to new decisions (RSS feed)" | trans() }}</a> #}
        </div>
    </section>
{% else %}
    <section class="py-8 visually-hidden">
        <div class="gap-0">
            <h1 class="mb-3">{{ "Search" | trans() }}</h1>
        </div>
    </section>
{% endif %}

<div class="search-results">
    <div class="search-results__filters" id="js-search-filters">
        {% include "search/facet.html.twig" with { 'result': result } %}
    </div>

    <div class="search-results__results" id="search-results">
        <div class="gap-0" id="js-search-results">
            {% include "search/entries.html.twig" with { 'result': result } %}
        </div>
    </div>
</div>
{% endblock %}
