<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
{{ title }}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M18.8225 10.4112H6L12.4113 4C14.5481 6.13687 16.6856 8.27437 18.8225 10.4112ZM6.03563 12.875H18.8581L12.4469 19.2863C10.31 17.1494 8.1725 15.0119 6.03563 12.875Z" fill="#999999"/>
</svg>
</a>