/*---------------------------------------------------------------*/
/*-------------------- breadcrumb-bar.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "breadcrumb-bar-variables";
@use "mixins/icon";

.breadcrumb-bar {
    display: flex;
    flex-direction: var(--breadcrumb-bar-flex-direction);
    justify-content: var(--breadcrumb-bar-justify-content);
    align-items: var(--breadcrumb-bar-align-items);
    gap: var(--breadcrumb-bar-gap);
    width: 100%;
    margin: 0 auto;
    min-height: var(--breadcrumb-bar-min-height);
    box-sizing: border-box;
    padding-top: var(--breadcrumb-bar-padding-top);
    padding-right: var(--breadcrumb-bar-padding-right);
    padding-bottom: var(--breadcrumb-bar-padding-bottom);
    padding-left: var(--breadcrumb-bar-padding-left);
    max-width: var(--breadcrumb-bar-max-width);
    flex-wrap: wrap;
    background-color: var(--breadcrumb-bar-background-color);
    color: var(--breadcrumb-bar-text-color);
    border-width: var(--breadcrumb-bar-border-width);
    border-style: var(--breadcrumb-bar-border-style);
    border-color: var(--breadcrumb-bar-border-color);
    border-radius: var(--breadcrumb-bar-border-radius);

    @media (min-width: 59rem) {
        margin: 17px auto;
    }

    ul,
    ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: var(--breadcrumb-bar-justify-content);
        align-items: var(--breadcrumb-bar-list-vertical-align);
        padding: var(--breadcrumb-bar-list-padding);
        gap: var(--breadcrumb-bar-list-gap);
        color: inherit;
        background-color: transparent;

        li {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            list-style: none;
            gap: var(--breadcrumb-bar-list-item-gap);

            &:before {
                display: none;
                /* Preventing default nav before to show up */
            }

            &:after {
                background: url("../../svg/chevron.svg") no-repeat center center;
                display: inline-block;
                content: "";
                width: 30px;
                height: 30px;

                margin-left: var(--breadcrumb-bar-icon-margin-left);
                margin-right: var(--breadcrumb-bar-icon-margin-right);
            }

            &:hover {
                color: var(--breadcrumb-bar-hover-text-color);

                &:after {
                    color: var(--breadcrumb-bar-text-color);
                }
            }

            &:last-child {
                font-weight: var(--breadcrumb-bar-list-item-last-child-font-weight);

                &:after {
                    content: none;
                }
            }

            a {
                word-break: break-word;
                /* Break words that won't fit the available space */
                white-space: var(--breadcrumb-bar-link-white-space);

                &:hover {
                    text-decoration: var(--breadcrumb-bar-link-hover-text-decoration);
                    border: 0;
                }
            }
        }
    }
}
