:root {
    --application-base-accent-color: var(--ro-blue);
    --branding-color-1-background-color: var(--ro-blue);
    --branding-color-1-text-color: white;

    --application-base-accent-color-active: var(--link-text-color);
    --application-base-accent-color-active-text-color: white;
    --application-base-accent-color-focus: var(--ro-blue);
    --application-base-accent-color-focus-text-color: white;
    --application-base-accent-color-selected: var(--link-text-color-hover);

    --header-navigation-link-hover-background-color: #cbd2e3;
    --header-navigation-link-active-background-color: #cbd2e3;
    --header-navigation-link-active-text-color: black;
}
