/*---------------------------------------------------------------*/
/*---------------- header-navigation-link.scss ------------------*/
/*---------------------------------------------------------------*/
@use "mixins/icon";
@use "mixins/link";

body > header,
.page-header,
%header-navigation-style {
    nav {
        a {
            @include link.link("header-navigation-link-");

            height: 100%;
            display: inline-flex;
            align-items: var(--header-navigation-link-align-items);
            justify-content: var(--header-navigation-link-justify-content);
            padding-top: var(--header-navigation-link-padding-top);
            padding-right: var(--header-navigation-link-padding-right);
            padding-bottom: var(--header-navigation-link-padding-bottom);
            padding-left: var(--header-navigation-link-padding-left);
            min-height: var(--header-navigation-link-min-height);
        }
    }
}
