/*---------------------------------------------------------------*/
/*----------------- header-navigation.scss ----------------------*/
/*---------------------------------------------------------------*/

body > header,
.page-header,
%header-navigation-style {
    nav #main-nav-div {
        ul,
        ol {
            li {
                display: flex;
                list-style: none;
                padding: 0;
                box-sizing: border-box;
                background: none !important;

                &:before {
                    display: none;
                    /* Preventing default nav before to show up */
                }
                a {
                    background: none !important;
                    &:hover,
                    &:focus,
                    &:active,
                    &:visited {
                        color: white !important;
                    }
                }
            }
        }
    }
}
