/*---------------------------------------------------------------*/
/*-------------- header-navigation-variables.scss ---------------*/
/*---------------------------------------------------------------*/

:root {
  /* header-Navigation layout */
  --header-navigation-gap: var(--content-gap, 2rem);
  --header-navigation-justify-content: var(
    --content-justify-content,
    flex-start
  );
  --header-navigation-align-items: center;

  --header-navigation-min-height: 3rem;
  --header-navigation-width: 100%;
  --header-navigation-max-width: var(--content-max-width, 100%);

  --header-navigation-margin: 0;
  --header-navigation-padding-top: 0;
  --header-navigation-padding-right: var(--page-whitespace-right);
  --header-navigation-padding-bottom: 0;
  --header-navigation-padding-left: var(--page-whitespace-left);

  --header-navigation-border-width: 0;
  --header-navigation-border-style: solid;
  --header-navigation-border-color: transparent;
  --header-navigation-border-radius: 0;

  --header-navigation-position: relative;
  --header-navigation-white-space: nowrap;

  --header-navigation-background-color: var(
    --application-base-accent-color,
    #fff
  );
  --header-navigation-text-color: var(
    --application-base-accent-color-text-color
  );

  /* List */
  --header-navigation-list-gap: 1rem;
  --header-navigation-list-justify-content: var(
    --header-navigation-justify-content
  );
  --header-navigation-list-align-items: var(--header-navigation-align-items);
  --header-navigation-list-text-color: var(
    --header-navigation-text-color,
    var(--application-base-accent-color-text-color)
  );
  --header-navigation-list-width: 100%;

  /* List item */
  --header-navigation-list-item-background-color: transparent;
  --header-navigation-list-item-text-color: var(
    --header-navigation-list-text-color,
    var(--application-base-accent-color-text-color)
  );
  --header-navigation-list-item-justify-content: stretch;
  --header-navigation-list-item-align-items: stretch;
}
