/*------------------------------------------------------------------------*/
/*-------------------------- header-variables.scss -----------------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Layout */
  --header-flex-direction: var(--content-flex-direction);
  --header-justify-content: var(--content-justify-content);
  --header-align-items: center;
  --header-gap: 0;
  --header-padding-top: 0;
  --header-padding-right: 0;
  --header-padding-bottom: 0;
  --header-padding-left: 0;
  --header-max-width: 100%;
  --header-background-color: transparent;
  --header-min-height: 0;

  --header-border-width: 0;
  --header-border-style: solid;
  --header-border-color: transparent;

  /* Grouped content */
  --header-content-wrapper-gap: 1rem;
  --header-content-wrapper-flex-direction: row;
  --header-content-wrapper-justify-content: flex-end;
  --header-content-wrapper-align-items: center;
  --header-content-wrapper-width: 100%;
}
