.svg-icon {
    display: inline-block;

    &:before {
        display: inline-block;
        content: "";
        width: 100%;
        height: 100%;
    }
    &.svg-home:before {
        background: url("../../svg/home.svg") no-repeat center center;
    }
    &.svg-email:before {
        background: url("../../svg/mail.svg") no-repeat top -1px center;
    }
    &.svg-pdf:before {
        background: url("../../svg/pdf.svg") no-repeat top -1px center;
    }
    &.svg-map:before {
        background: url("../../svg/map.svg") no-repeat top -1px center;
    }
    &.svg-doc:before {
        background: url("../../svg/doc.svg") no-repeat top -1px center;
    }
    &.svg-csv:before,
    &.svg-spreadsheet {
        background: url("../../svg/csv.svg") no-repeat top -1px center;
    }
    // This icon will probably go unused
    &.svg-xlsx:before {
        background: url("../../svg/xlsx.svg") no-repeat top -1px center;
    }
    &.svg-xml:before {
        background: url("../../svg/xml.svg") no-repeat top -1px center;
    }
    &.svg-presentation:before {
        background: url("../../svg/presentation.svg") no-repeat top -1px center;
    }
    &.svg-unknown:before {
        background: url("../../svg/unknown.svg") no-repeat top -1px center;
    }
    &.svg-audio:before {
        background: url("../../svg/audio.svg") no-repeat top -1px center;
    }
    &.svg-video:before {
        background: url("../../svg/video.svg") no-repeat top -1px center;
    }
    &.svg-image:before {
        background: url("../../svg/image.svg") no-repeat top -1px center;
    }
    &.svg-vcard:before {
        background: url("../../svg/vcard.svg") no-repeat top -1px center;
    }
    &.svg-database:before {
        background: url("../../svg/database.svg") no-repeat top -1px center;
    }
    &.svg-note:before {
        background: url("../../svg/note.svg") no-repeat top -1px center;
    }
    &.svg-html:before {
        background: url("../../svg/html.svg") no-repeat top -1px center;
    }
    &.svg-text:before {
        background: url("../../svg/text.svg") no-repeat top -1px center;
    }
    &.svg-chevron-right:before {
        background: url("../../svg/chevron-link.svg") no-repeat center center;
    }
    &.svg-chevron-up:before {
        background: url("../../svg/chevron-link.svg") no-repeat center center;
    }
    &.svg-chevron-down:before {
        background: url("../../svg/chevron-link.svg") no-repeat center center;
        transform: rotate(90deg);
    }
    &.svg-chevron-left:before {
        background: url("../../svg/chevron-link.svg") no-repeat center center;
        transform: rotate(180deg);
    }
    &.svg-chevron-up:before {
        background: url("../../svg/chevron-link.svg") no-repeat center center;
        transform: rotate(-90deg);
    }
    &.svg-chevron-light-right:before {
        background: url("../../svg/chevron.svg") no-repeat center center;
    }
    &.svg-chevron-light-down:before {
        background: url("../../svg/chevron.svg") no-repeat center center;
        transform: rotate(90deg);
    }
    &.svg-chevron-light-left:before {
        background: url("../../svg/chevron.svg") no-repeat center center;
        transform: rotate(180deg);
    }
    &.svg-chevron-light-up:before {
        background: url("../../svg/chevron.svg") no-repeat center center;
        transform: rotate(-90deg);
    }
    &.svg-arrow-up:before {
        background: url("../../svg/arrow.svg") no-repeat top -1px center;
        transform: rotate(180deg);
    }
    &.svg-arrow-right:before {
        background: url("../../svg/arrow.svg") no-repeat top -1px center;
        transform: rotate(-90deg);
    }
    &.svg-arrow-down:before {
        background: url("../../svg/arrow.svg") no-repeat top -1px center;
    }
    &.svg-arrow-left:before {
        background: url("../../svg/arrow.svg") no-repeat top -1px center;
        transform: rotate(90deg);
    }
    &.svg-trash:before {
        background: url("../../svg/trash.svg") no-repeat top -1px center;
    }
    &.svg-web:before,
    &.svg-internet:before {
        background: url("../../svg/internet.svg") no-repeat top -1px center;
    }
    &.svg-delete:before {
        background: url("../../svg/delete.svg") no-repeat center center;
    }
    &.svg-attachment:before {
        background: url("../../svg/bijlage.svg") no-repeat center center;
    }
    &.svg-zoom:before {
        background: url("../../svg/zoom.svg") no-repeat center center;
    }
    &.svg-message:before {
        background: url("../../svg/bericht.svg") no-repeat center center;
    }
    &.svg-download:before {
        background: url("../../svg/download.svg") no-repeat center center;
    }
    &.svg-externallink:before {
        background: url("../../svg/externallink.svg") no-repeat top -1px center;
    }
    &.svg-sendusmail:before {
        background: url("../../svg/sendusmail.svg") no-repeat top -1px center;
    }
}
