/*----------------------------------------------------------------------------------*/
/*------------------------------- link-variables.scss ------------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
    /* Default */
    --link-font-size: var(--application-base-font-size);
    --link-text-font-weight: var(--application-base-font-weight);
    --link-line-height: var(--application-base-line-height);
    --link-background-color: transparent;
    --link-text-color: #01689b;
    --link-hover-text-color: #004161;
    --link-visited-text-color: #01689b;
    --link-text-decoration: initial;
    --link-border-width: 0;
    --link-border-style: none;
    --link-border-color: transparent;
    --link-border-radius: 0;

    /* Icon styling-variables */
    --link-icon-font-family: var(--icon-font-family);
    --link-icon-font-size: var(--icon-font-size);
    --link-icon-font-weight: var(--icon-font-weight);
    --link-icon-line-height: var(--icon-line-height);
    --link-icon-background-color: var(--background-color);
    --link-icon-text-color: var(--text-color);
    --link-icon-padding-left: 0;
    --link-icon-padding-right: 0.5rem;
    --link-icon-text-decoration: none;
    --link-icon-border-width: 0;
    --link-icon-border-style: none;
    --link-icon-border-color: transparent;
    --link-icon-border-radius: 0;

    /* Icon at the end */
    --link-icon-last-padding-right: 0;
    --link-icon-last-padding-left: 0.5rem;

    /* Outline variables */
    --link-focus-outline: 2px dotted #000;
    --link-outline-offset: 0;
    --link-z-index: auto;
}
