/*---------------------------------------------------------------*/
/*--------------------------- link.scss -------------------------*/
/*---------------------------------------------------------------*/
@use "link-variables";
@use "mixins/link";
@use "mixins/outline";

a {
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    @include link.link("link-");
    @include link.link-elements-styling("link-");
    @include outline.outline("link-");
}
