.notification.notification--info {
    background: none;
    border-left: 10px solid #01689b;
    display: block;
    padding: 0 0 0 1rem;

    @media (min-width: 42rem) {
        padding-left: 3rem;
    }
}