.split-link__underline {
    text-decoration: underline;
}

.split-link {
    text-decoration: none;

    @media (min-width: 42rem) {
        align-items: baseline;
        display: flex;

        .truncate {
            max-width: 80%;
        }

        .split-link__suffix {
            margin-left: 0.5rem;
        }
    }
}