/*----------------------------------------------------------------------------------*/
/*------------------------------ tabs-variables.scss -------------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
    --tabs-border-top-width: 0;
    --tabs-border-right-width: 0;
    --tabs-border-bottom-width: 1px;
    --tabs-border-left-width: 0;
    --tabs-border-style: solid;
    --tabs-border-color: #808080;
    --tabs-background-color: transparent;
    --tabs-gap: 1rem;

    /* List item */
    --tabs-item-border-width: 0 0 3px 0;
    --tabs-item-border-style: solid;
    --tabs-item-border-color: transparent;
    --tabs-item-text-color: #808080;
    --tabs-item-line-height: var(--application-base-line-height);
    --tabs-item-padding: 0.5rem;
    --tabs-item-background-color: var(--tabs-background-color);
    --tabs-item-text-decoration: none;

    /* List item hover */
    --tabs-item-hover-border-width: 0 0 3px 0;
    --tabs-item-hover-border-style: solid;
    --tabs-item-hover-border-color: var(--application-base-accent-color);
    --tabs-item-hover-text-color: var(--application-base-accent-color);
    --tabs-item-hover-background-color: var(--tabs-item-background-color);

    /* List item active */
    --tabs-item-active-border-width: 0 0 3px 0;
    --tabs-item-active-border-style: solid;
    --tabs-item-active-border-color: var(--application-base-accent-color);
    --tabs-item-active-text-color: var(
        --application-base-accent-color,
        var(--tabs-border-color)
    );
    --tabs-item-active-background-color: var(--tabs-item-background-color);

    /* List item active hover */
    --tabs-item-active-hover-border-width: 0 0 3px 0;
    --tabs-item-active-hover-border-style: solid;
    --tabs-item-active-hover-border-color: var(--application-base-accent-color);
    --tabs-item-active-hover-text-color: var(
        --application-base-accent-color,
        var(--tabs-border-color)
    );
    --tabs-item-active-hover-background-color: var(
        --tabs-item-background-color
    );
}
