/*---------------------------------------------------------------*/
/*----------------------- collapsible.scss ----------------------*/
/*---------------------------------------------------------------*/

@import "../admin-variables.scss";

.collapsible.collapsed {
    .collapsing-element.filters {
        top: 8px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gray-main-bg;
        box-shadow: 2px 2px 2px 0 rgba(16, 24, 40, 0.05);
        max-width: 520px;

        legend {
            font-family: $font-sans-bold;
            padding-top: 10px;
        }

        fieldset {
            border: none;
            #search_form_department,
            #search_form_status {
                div {
                    padding: 5px 0;
                    input,
                    label {
                        cursor: pointer;
                    }
                    label {
                        margin: 0;
                    }
                }
            }
        }
    }
}
