@import "../admin-variables";

$padding: 5px;
$spacing: 2px;

.navigation {
    padding: 20px;
}
.pagination {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        a {
            padding: $padding;
            color: $gray-neutral;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 40px;
            height: 40px;
            border-radius: $padding;
            margin: 0 $spacing;

            &:hover,
            &:focus,
            &.active {
                background: $gray-main-bg;
            }
        }

        li.pagination__text a {
            border: 1px solid $gray-blue-x-light;
            padding: $padding 15px;
            width: auto;
        }
        .svg-icon {
            display: inline-block;
            width: 24px;
            height: 24px;

            &:before {
                display: inline-block;
                content: "";
                width: 100%;
                height: 100%;
            }
            &.svg-chevron-light-right:before {
                background: url("../../../svg/chevron.svg") no-repeat center
                    center;
            }
            &.svg-chevron-light-left:before {
                background: url("../../../svg/chevron.svg") no-repeat center
                    center;
                transform: rotate(180deg);
            }
        }
    }
}
