@import "./variables";
@import "@minvws/nl-rdo-rijksoverheid-ui-theme/scss/main";

@import "./helpers";
@import "./components/all";

@import "./tailwind";

@import "@minvws/manon/tag-colors-soft";
@import "@minvws/manon/tags";
@import "@minvws/manon/tags-6";

.dropzone {
    display: grid !important;
}

.dz-details {
    display: grid !important;
    width: 120px;
}

.dz-progress {
    display: inline !important;
}

.dz-preview {
    display: grid !important;
}

.reset,
.reset:hover {
    all: unset;
}

.reset:focus {
    color: inherit;
    background: none;
    border: none;
}