{% extends 'department/details_base.html.twig' %}

{% block department_content %}
    <div class="woo-readable-width">
        <h1 class="woo-h1 woo-h1-spacing font-normal">{{ 'public.department.public_information_by_department' | trans({ department: department.name }) }}</h1>

        <div class="woo-rich-text">
            <p>{{ 'public.department.public_information_default_description' | trans({ department: department.name }) }}</p>
        </div>
    </div>
{% endblock %}
