{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        {{ wo_render_breadcrumbs({viewTemplate: 'admin/layout/breadcrumbs.html.twig' }) }}

        <div class="bhr-card">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
