{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        {% include 'admin/shared/page-title.html.twig' %}

        <div class="bhr-card">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
