@layer components {
    .bhr-button {
        @apply inline-flex
            cursor-pointer
            font-bold
            items-center
            justify-center
            leading-tight
            px-4
            py-3
            relative
            transition-colors
            rounded-lg;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    }

    .bhr-button--primary {
        @apply bg-ocean-boat-blue
            border-blue-sapphire/40
            text-white

            hover:bg-blue-sapphire;
    }

    .bhr-button--secondary {
        @apply bg-white
            border
            border-light-silver
            text-dim-gray

            hover:bg-anti-flash-white
            hover:border-chinese-silver
            hover:text-black-olive;
    }

    .bhr-button--danger {
        @apply bg-maximum-red
            border
            border-maximum-red
            text-white;
    }

    .bhr-button--fixed-width {
        @apply min-w-[240px];
    }

    .bhr-button--full-width {
        @apply w-full;
    }

    .bhr-button--with-icon-left {
        @apply pl-10;
    }

    .bhr-button--with-icon-right {
        @apply pr-10;
    }

    .bhr-button__icon {
        @apply absolute;
    }

    .bhr-button__icon--left {
        @apply left-3;
    }

    .bhr-button__icon--right {
        @apply right-3;
    }
}
