@layer components {
    .woo-steps {
        @apply relative flex justify-between;
        background: linear-gradient(transparent 15px, theme(colors.platinum) 15px, theme(colors.platinum) 17px, transparent 17px);
    }

    .woo-steps__caption {
        @apply absolute font-bold no-underline text-black whitespace-nowrap;
        transform: translateX(-50%) translateY(36px);
        left: 16px;
    }

    .woo-steps__step a {
        @apply relative;
    }

    .woo-steps__step svg {
        @apply rounded-full bg-ocean-boat-blue;
    }

    .woo-steps__step--inactive svg {
        @apply bg-platinum;
    }

    .woo-steps__step--done:before {
        @apply bg-ocean-boat-blue w-1/3 h-0.5 absolute z-0 block;
        content: '';
        transform: translateY(15px);
    }
}
