{% extends 'base.html.twig' %}

{% set page_title = "Modify request" | trans() %}

{% block body %}

    <section>
        <div>

            <h1>{{ "Modify request" | trans() }}</h1>

            {{ form(form) }}

        </div>
    </section>
{% endblock %}
