<div class="bg-woo-cornsilk p-6">
    <div class="flex">
        <span class="mr-4">
            <twig:Public:Icon name="exclamation-colored" width="34" height="32" />
        </span>

        <div class="grow pt-0.5">
            <div class="woo-readable-width">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
