<a class="inline-block font-bold text-woo-sea-blue group" href="{{ to }}">
    <twig:Public:Icon class="-ml-0.5 mr-1 align-baseline" color="fill-woo-sea-blue" name="chevron-right" size="12" />
    <span class="group-hover:underline group-focus:underline">{% block content %}{% endblock %}</span>
</a>
