<a class="inline-block font-bold text-woo-dark-blue-600 group" href="{{ to }}">
    <twig:Public:Icon class="-ml-1 mr-px relative -top-0.5" color="fill-woo-dark-blue-600" name="chevron-right" size="20" />
    <span class="group-hover:underline group-focus:underline">{% block content %}{% endblock %}</span>
</a>
