<a
    class="woo-button woo-button--primary"
    href="{{ href }}"
    download
>
    <twig:Public:Icon class="woo-button-icon-left -mt-px" name="download" />
    {{ "Download" | trans }} {% block content %}{% endblock %}
</a>
