<a
    class="woo-btn-filled-pink"
    href="{{ href }}"
    data-e2e-name="{{ e2eName }}"
    download
>
    <twig:Public:Icon class="woo-btn__icon-left" name="download" />
    {% block content %}{{ 'public.global.download_verb' | trans }}{% endblock %}
</a>
