<div class="flex {{ css | default }}" {% if id is defined %}id="{{ id }}"{% endif %}>
    <span class="mr-2">
        <twig:Public:Icon color="fill-woo-maximum-red" name="exclamation" />
    </span>

    <div class="text-woo-maximum-red leading-tight pt-0.5">
        {% block content %}{% endblock %}
    </div>
</div>
