{% if form.children.dossierNr is defined %}
    {{ form_row(form.dossierNr) }}
{% elseif dossier.dossierNr %}
    <div class="bhr-form-row">
        <h2 class="bhr-label">{{ 'global.ref_number' | trans }}</h2>
        <p class="bhr-readonly-text">{{ dossier.dossierNr }}</p>
    </div>
{% endif %}
