{% extends 'bootstrap_5_horizontal_layout.html.twig' %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
                valid: valid,
            }) -}}
            {% if child.vars.help is defined %}
                <div class="form-text">{{ child.vars.help }}</div>
            {% endif %}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}
