{% extends 'admin/base.html.twig' %}

{% block inline_style %}
    {% include 'admin/dossier/workflow-styles.html.twig' %}
{% endblock %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        <h1 class="bhr-title text-center mb-10">
            {% if workflowStatus.isReadyForDecision %}
                {{ dossier.title }}
            {% else %}
                {% block dossier_title %}{% endblock %}
            {% endif %}
        </h1>

        {% include 'admin/dossier/workflow.html.twig' %}

        <div class="bhr-card">
            {% block form %}{% endblock %}
        </div>
    </div>
{% endblock %}
