{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div>
            <h1>{{ "Create new elasticsearch rollover" | trans() }}</h1>

            {{ form(form) }}
        </div>
    </section>

{% endblock %}
