{% extends 'admin.html.twig' %}

{% block body %}
<div class="bhr-container">
    <h1 class="bhr-title mb-6">{{ 'elastic.rollover.new' | trans() }}</h1>

    <div class="px-11">
        <div class="bhr-card">{{ form(form) }}</div>
    </div>
</div>
{% endblock %}
