{% extends 'search/result.html.twig' %}

{% set page_title = theme.pageTitle | trans %}

{% block search_form_top %}<twig:Public:SearchForm />{% endblock %}

{% block body %}
<div class="woo-container">
    {% block search_header %}
        <section class="pb-16 woo-rich-text woo-readable-width">
            <h1>{{ page_title }}</h1>
            <p>{{ theme.pageText | trans }}</p>
        </section>
    {% endblock %}

    <div class="md:flex gap-8">
        <section class="shrink-0 md:w-56" id="js-search-filters" data-url="{{ ajaxResultsUrl }}">
            {% include "search/facet.html.twig" with { 'result': result } %}
        </section>

        <section class="grow pt-8 md:pt-0" id="search-results">
            <div id="js-search-results">
                {% include "search/entries.html.twig" with { 'result': result } %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
