<p>
    {{ "Here you will find documents that the Ministry of Health, Welfare and Sport has made public on the basis of the Open Government Act (Woo). The documents are limited to the time of the corona pandemic." | trans }}
</p>
<p>
    <a class="ro-font-bold arrowed-link reverse-underline" href="{{ path('app_about') }}">{{ "About the VWS Woo publication platform" | trans }}</a>
</p>
