<div class="woo-alert {{ this.alertType }}">
    <span class="float-left mr-2">
        <twig:Icon color="fill-current" name="{{ this.iconName }}" />
    </span>

    {% block content %}{% endblock %}
</div>
