{% set classes = ['tabs']|merge(classes) %}
<div class="{{ classes|join(' ') }}">
  {% block tabs %}
    <ul>
      <li><a href="#" aria-current="page">Optie 1</a></li>
      <li><a href="#">Optie 2</a></li>
      <li><a href="#">Optie 3</a></li>
      <li><a href="#">Optie 4</a></li>
    </ul>
  {% endblock %}
</div>
