{% extends 'admin.html.twig' %}

{% set page_title = "Privacy Statement Open Government Act (Woo)" | trans() %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title mb-4">{{ page_title }}</h1>
    <time class="block mb-10" datetime="2023-10-16">Versie 16 oktober 2023</time>

    <div class="px-11">
        <div class="bhr-card">
            <div class="bhr-content text-lg">
                <h2 class="font-bold">Welke persoonsgegevens verwerken wij?</h2>
                <p>Voor een goede en veilige werking van het systeem loggen wij bepaalde handelingen en gegevens. De
                    gebruikersnaam (emailadres) waarmee je inlogt op het WOO platform is onderdeel van de data die worden
                    gelogd.</p>

                <h2 class="font-bold">Wie is verantwoordelijk voor de verwerking van uw persoonsgegevens?</h2>
                <p>De minister van VWS is de zogenaamde verwerkingsverantwoordelijke in de zin van de Algemene verordening
                    gegevensbescherming (AVG). VWS heeft een functionaris voor gegevensbescherming (FG) als interne
                    toezichthouder, die toezicht houdt op het zorgvuldig omgaan met persoonsgegevens door VWS. De FG is
                    bereikbaar per e-mail: FG-VWS@minvws.nl.</p>

                <h2 class="font-bold">Met welk doel en op basis van welke grondslag verwerken wij persoonsgegevens?</h2>
                <p>Gegevens worden verwerkt om een goede en veilige werking van het WOO platform te kunnen garanderen. Dit houdt verband met de grondslag van de verwerking van persoonsgegevens voor het WOO platform. Ook is VWS wettelijk verplicht om beveiliging toe te passen op systemen en applicaties waarin persoonsgegevens worden verwerkt.</p>

                <h2 class="font-bold">Hoe lang bewaren wij persoonsgegevens?</h2>
                <p>Loggevens worden maximaal 6 maanden bewaard.</p>

                <h2 class="font-bold">Met wie delen wij persoonsgegevens?</h2>
                <p>De gegevens worden uitsluitend gebruikt voor de goede en veilige werking van het WOO platform en niet gedeeld. Je gegevens kunnen toegankelijk zijn voor functioneel beheerders van het WOO platform.</p>

                <h2 class="font-bold">Kunnen persoonsgegevens langer bewaard worden?</h2>
                <p>Persoonsgegevens worden niet in alle situaties automatisch verwijderd. In een beperkt aantal gevallen mogen we deze gegevens langer bewaren . Bijvoorbeeld als iemand strafbare feiten pleegt en de bewaarde gegevens noodzakelijk zijn voor opsporing. Zo’n geval kan leiden tot een verlenging van de bewaartermijn.</p>

                <h2 class="font-bold">Hoe beveiligen wij persoonsgegevens?</h2>
                <p>VWS neemt de bescherming van medewerker gegevens serieus en neemt passende maatregelen om misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan.</p>

                <h2 class="font-bold">Kan ik mijn gegevens inzien, wijzigen of verwijderen?</h2>
                <p>Als betrokkene heb je het recht om je eigen persoonsgegevens in te zien en in bepaalde gevallen ook  te wijzigen of te verwijderen. Daarnaast heb je het recht eventuele toestemming voor de gegevensverwerking in te trekken, of bezwaar te maken tegen de verwerking van jouw persoonsgegevens door VWS. Dit geldt niet voor alle situaties.  Heb je vragen over de verwerking van jouw gegevens neem dan contact op met je leidinggevende.</p>
                <p>Je kunt ook een melding doen bij de Autoriteit Persoonsgegevens.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
