{% set uploadedQueue = get_upload_queue(dossier) %}

{% if uploadedQueue | length > 0 %}
<div class="flex pb-6">
    <span class="mr-4">
        <twig:Admin:Icon name="hourglass" />
    </span>

    <div class="grow text-lg">
        <h3 class="font-bold">Bezig met verwerken van je upload{{ uploadedQueue | length == 1 ? '' : 's' }}</h3>
        <p class="mb-2 leading-tight">Dit kan lang duren. Als je wilt kun je deze pagina verlaten en later terugkomen.</p>

        <ul class="grid grid-cols-2 gap-x-4 max-h-72 overflow-y-auto">
            {% for fileName in uploadedQueue %}
                {% set mimeType = fileName ends with '.zip' ? 'application/zip' : 'application/pdf' %}
                <li class="py-1">
                    <twig:Admin:FileWithIcon fileName="{{ fileName }}" mimeType="{{ mimeType }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
