/* Manon temporary overrides */
.horizontal-view,
.horizontal-view-group > div {
    align-items: flex-start;
}

.ro-logo {
    display: none;
}

nav.pagination ul li span {
    height: auto;
}

.form-filters button {
    border-radius: 0;
    justify-content: flex-start;
}

/* Headings */
/* Solves issue with size changes within headings containing links */

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover {
    text-decoration: inherit;
}

h1 > a,
h1 > a:hover {
    font-size: var(--h1-font-size, inherit);
    line-height: var(--h1-line-height, inherit);
}
h2 > a,
h2 > a:hover {
    font-size: var(--h2-font-size, inherit);
    line-height: var(--h2-line-height, inherit);
}

h3 > a,
h3 > a:hover {
    font-size: var(--h3-font-size, inherit);
    line-height: var(--h3-line-height, inherit);
}

h4 > a,
h4 > a:hover {
    font-size: var(--h4-font-size, inherit);
    line-height: var(--h4-line-height, inherit);
}

h5 > a,
h5 > a:hover {
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height, inherit);
}
h6 > a,
h6 > a:hover {
    font-size: var(--h6-font-size);
    line-height: var(--h6-line-height, inherit);
}

/* Solves the issue where the table isn't full width */
.horizontal-scroll {
    width: 100%;
}

table caption {
    text-align: left;
}

.main-header-bottom {
    padding: 0.75rem;
}

main .search-results {
    gap: 0 4rem;
    padding: 0 4%;
}
