@utility woo-btn_generic_ {
    @apply
        cursor-pointer
        font-bold
        inline-flex
        items-center
        justify-center
        leading-none
        transition-colors;
}

@utility woo-btn_filled_or_bordered_ {
    @apply woo-btn_generic_;
    @apply
        border-1
        border-transparent
        h-11
        px-4;
}

@utility woo-btn-filled_ {
    @apply woo-btn_filled_or_bordered_;
    @apply text-white;
    @apply focus:outline-white focus:-outline-offset-4;
}

@utility woo-btn-filled-primary {
    @apply woo-btn-filled_;
    @apply
        bg-woo-dark-blue-600
        border-woo-dark-blue-600;

    &:active,
    &:focus,
    &:hover {
        @apply bg-woo-dark-blue-700 border-woo-dark-blue-700;
    }
}

@utility woo-btn-filled-pink {
    @apply woo-btn-filled_;
    @apply
        bg-woo-pink-800
        border-woo-pink-800;

    &:active,
    &:focus,
    &:hover {
        @apply bg-woo-red-800 border-woo-red-800;
    }
}

@utility woo-btn-bordered-blue {
    @apply woo-btn_filled_or_bordered_;
    @apply
        border-woo-dark-blue-600
        text-woo-dark-blue-600;

    &:active,
    &:focus,
    &:hover {
        @apply border-woo-dark-blue-700 text-woo-dark-blue-700;
    }
}

@utility woo-btn-bordered-pink {
    @apply woo-btn_filled_or_bordered_;
    @apply
        border-woo-pink-800
        text-woo-pink-800;

    &:active,
    &:focus,
    &:hover {
        @apply border-woo-red-800 text-woo-red-800;
    }
}

@utility woo-btn--icon-only {
    @apply px-0 w-10;
}

@utility woo-btn__icon-left {
    @apply mr-2;
}

@utility woo-btn__icon-right {
    @apply ml-2;
}
