@utility woo-main-header__nav-search {
  @apply bg-woo-dark-blue-600;
}

@utility woo-main-header__nav-search-container {
  @apply lg:woo-container;
}

@utility woo-main-header__nav-search-wrapper {
  @apply lg:flex lg:justify-between;
}

