@utility woo-search-result {
  @apply py-4 text-sm;
}

@utility woo-search-result__header {
  @apply flex flex-col-reverse;
}

@utility woo-search-result__title {
  @apply font-bold text-xl leading-tight mt-1;
}

@utility woo-search-result__main-link {
  @apply block woo-a woo-a--reverse-underline;
  overflow-wrap: anywhere;
}

@utility woo-search-result__spec-list {
  @apply woo-muted mt-1;
}

@utility woo-search-result__spec {
  @apply inline not-last:after:content-['|'] not-last:after:px-1;
}
