@utility woo-skip-link {
  @apply block sr-only focus:not-sr-only focus:p-2 text-center text-woo-dark-blue-600 text-base;
}

@utility woo-skip-link--to-main-content {
  @apply bg-woo-pink-800 text-white focus:outline-white focus:-outline-offset-2 text-lg;
}
