{% extends 'admin.html.twig' %}

{% set page_title = "Create new organisation" | trans() %}

{% block body %}
<div class="bhr-container bhr-container--sm">
    <h1 class="bhr-title text-center mb-10">{{ page_title }}</h1>

    <div class="bhr-card">
        {{ form(organisationForm) }}
    </div>
</div>
{% endblock %}

