<section class="block w-full pb-0">
    <p>
        {{ "Woo Wob request info" | trans() }}
    </p>
    <p>
        <a href="{{ path('app_about') }}">{{ "More about Woo Wob requests" | trans() }}</a>
    </p>
</section>
