{% if dossier.entity.status.isPreview %}
<div class="mt-10">
    <twig:Public:Alert>
        {{ "You have untill {date} exclusive access to these documents" | trans({ date: dossier.entity.publicationDate | date_modify('-1 minute') | format_datetime(pattern="d LLLL y 'om' H:mm 'uur'") }) }}
    </twig:Public:Alert>
</div>
{% endif %}
