/* Article */

:root {
  --article-content-wrapper-padding-top: 0;
  --article-content-wrapper-gap: var(--spacing-xl);

  /* Sections within an article */
  --article-section-gap: var(--spacing-l);
}
