{% extends 'admin.html.twig' %}

{% block body %}
    <div class="bhr-container bhr-container--sm">
        {{ wo_render_breadcrumbs({viewTemplate: 'navigation/breadcrumbs.admin.html.twig' }) }}

        <div class="px-11">
            <div class="bhr-card">
                {% if replaced %}
                    <p class="text-center italic">Het document wordt nu verwerkt, dit kan even duren.</p>
                {% else %}
                    {% if error is not empty %}
                        <div class="pb-6">
                            <twig:Admin:Alert type="danger">
                                Er heeft zich een fout voorgedaan: {{ error }}
                            </twig:Admin:Alert>
                        </div>
                    {% endif %}

                    {{ form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
