name: E2E Tests - Test

on:
  workflow_dispatch:
    inputs:
      test_tag:
        description: 'Robot Framework test tag'
        required: true
        type: string
        default: 'testdossiers'

env:
  CR_PAT: ${{ secrets.GITHUB_TOKEN }}
  TEST_TAG: ${{ inputs.test_tag || 'testdossiers' }}
  GITHUB_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }} # For gh cli too

jobs:
  e2e-tests:
    name: 'Run E2E tests on Test'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          repo-token: ${{ env.GITHUB_TOKEN }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: tests/robot_framework/uv.lock
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: tests/robot_framework/pyproject.toml
      - name: Prepare OS for tests
        run: |
          sudo apt-get install --reinstall libpq-dev
          sudo npx playwright install-deps
      - name: Create virtual environment
        run: |
          task rf:venv
      - name: Run Robot Framework tests
        working-directory: tests/robot_framework
        env:
          URL_PUBLIC: https://web.test.woo.rdobeheer.nl
          URL_ADMIN: https://balie.test.woo.rdobeheer.nl/balie
          HEADLESS: true
          USERNAME_WOO_TEST: ${{ secrets.USERNAME_WOO_TEST }}
          PASSWORD_WOO_TEST: ${{ secrets.PASSWORD_WOO_TEST }}
          EMAIL_WOO_TEST_BALIE: ${{ secrets.EMAIL_WOO_TEST_BALIE }}
          PASSWORD_WOO_TEST_BALIE: ${{ secrets.PASSWORD_WOO_TEST_BALIE }}
          SECRET_WOO_TEST_BALIE: ${{ secrets.SECRET_WOO_TEST_BALIE }}
        run: |
          uv run robot --outputdir results --xunit outputxunit.xml --include ${{ env.TEST_TAG }} --variable ENVIRONMENT:test .
      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: reports
          path: tests/robot_framework/results
      - name: Publish test results
        uses: minvws/action-robotframework-summary@v1.0.0
        if: ${{ always() }}
        with:
          output_file: 'tests/robot_framework/results/output.xml'
          endpoints: 'https://web.test.woo.rdobeheer.nl'
          username: '${{ secrets.USERNAME_WOO_TEST }}'
          password: '${{ secrets.PASSWORD_WOO_TEST }}'
