name: E2E Tests - CI

on:
  workflow_dispatch:
    inputs:
      test_tag:
        description: "Robot Framework test tag"
        required: true
        type: string
        default: "ci"
      runner:
        description: "Github Runner tag"
        type: choice
        default: "ubuntu-24.04"
        options:
          - ubuntu-24.04
          - ubuntu-latest-m
  workflow_call:
    inputs:
      test_tag:
        description: "Robot Framework test tag"
        required: true
        type: string
      runner:
        description: "Github Runner tag"
        type: string

  schedule:
    - cron: "0 0 * * *" # Every day at midnight UTC

env:
  CR_PAT: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }} # For gh cli tool
  PYTHON_VERSION: 3.12
  TEST_TAG: ${{ inputs.test_tag || 'ci' }}

jobs:
  e2e-tests-app:
    name: "Run E2E tests on app"
    runs-on: ${{ inputs.runner || 'ubuntu-latest-m' }}
    if: ${{ inputs.test_tag != 'api' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - name: Setup Robot Framework test stack
        uses: ./.github/actions/setup-rf
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Robot Framework tests
        working-directory: tests/robot_framework
        env:
          URL_PUBLIC: http://localhost:8000
          URL_ADMIN: http://localhost:8000/balie
          HEADLESS: true
        run: |
          if [ '${{ env.TEST_TAG }}' == 'ci' ]; then
            uv run pabot --processes 8 --artifactsinsubfolders --outputdir results --include init --include ci --ordering order.txt --variable ENVIRONMENT:docker-ci .
          else
            uv run pabot --processes 1 --artifactsinsubfolders --outputdir results --include init --include ${{ env.TEST_TAG }} --ordering order.txt --variable ENVIRONMENT:docker-ci .
          fi
      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: robot-report-app
          path: tests/robot_framework/results
      - name: Publish test result summary to GitHub
        uses: minvws/action-robotframework-summary@v1.0.0
        if: ${{ always() }}
        with:
          output_file: tests/robot_framework/results/output.xml

  e2e-tests-api:
    name: "Run E2E tests on API"
    runs-on: ubuntu-latest-m
    if: ${{ inputs.test_tag == 'ci' || inputs.test_tag == 'api' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - name: Setup Robot Framework test stack
        uses: ./.github/actions/setup-rf
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Robot Framework tests
        working-directory: tests/robot_framework
        env:
          URL_PUBLIC: http://localhost:8000
          URL_ADMIN: http://localhost:8000/balie
          HEADLESS: true
        run: uv run pabot --processes 8 --artifactsinsubfolders --outputdir results --include api  --variable ENVIRONMENT:docker-ci .
      - name: Upload test results
        uses: actions/upload-artifact@v5
        if: ${{ always() }}
        with:
          name: robot-report-api
          path: tests/robot_framework/results
      - name: Publish test result summary to GitHub
        uses: minvws/action-robotframework-summary@v1.0.0
        if: ${{ always() }}
        with:
          output_file: tests/robot_framework/results/output.xml
