/*---------------------------------------------------------------------*/
/*-------------------- mixins/content-wrapper.scss --------------------*/
/*---------------------------------------------------------------------*/
/* Inherit over all components, including nested */
@mixin nested($prefix) {
  display: flex;
  flex-direction: var(--#{$prefix}-content-wrapper-flex-direction);
  gap: var(--#{$prefix}-content-wrapper-gap);
  justify-content: var(--#{$prefix}-content-wrapper-justify-content);
  align-items: var(--#{$prefix}-content-wrapper-align-items);
  margin: 0;
  padding: 0;
}

/* Only top level components */
@mixin styling($prefix) {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--#{$prefix}-content-wrapper-padding-top);
  padding-right: var(--#{$prefix}-content-wrapper-padding-right);
  padding-bottom: var(--#{$prefix}-content-wrapper-padding-bottom);
  padding-left: var(--#{$prefix}-content-wrapper-padding-left);
  max-width: var(--#{$prefix}-content-wrapper-max-width);
}

@mixin content-wrapper-variables($prefix) {
  --#{$prefix}-content-wrapper-flex-direction: var(--content-flex-direction);
  --#{$prefix}-content-wrapper-justify-content: var(--content-justify-content);
  --#{$prefix}-content-wrapper-align-items: var(--content-align-items);
  --#{$prefix}-content-wrapper-gap: var(--content-gap);
  --#{$prefix}-content-wrapper-padding-top: var(--content-padding-top);
  --#{$prefix}-content-wrapper-padding-right: var(--content-padding-right);
  --#{$prefix}-content-wrapper-padding-bottom: var(--content-padding-bottom);
  --#{$prefix}-content-wrapper-padding-left: var(--content-padding-left);
  --#{$prefix}-content-wrapper-max-width: var(--content-max-width);
}
