/*---------------------------------------------------------------------*/
/*-------------------------- mixins/layout.scss -----------------------*/
/*---------------------------------------------------------------------*/
@mixin layout($prefix) {
  display: flex;
  flex-direction: var(--#{$prefix}-flex-direction);
  justify-content: var(--#{$prefix}-justify-content);
  align-items: var(--#{$prefix}-align-items);
  gap: var(--#{$prefix}-gap);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--#{$prefix}-padding-top);
  padding-right: var(--#{$prefix}-padding-right);
  padding-bottom: var(--#{$prefix}-padding-bottom);
  padding-left: var(--#{$prefix}-padding-left);
  max-width: var(--#{$prefix}-max-width);
}

@mixin layout-variables($prefix) {
  --#{$prefix}-flex-direction: var(--content-flex-direction);
  --#{$prefix}-justify-content: var(--content-justify-content);
  --#{$prefix}-align-items: var(--content-align-items);
  --#{$prefix}-gap: 0;
  --#{$prefix}-padding-top: 0;
  --#{$prefix}-padding-right: var(--page-whitespace-right);
  --#{$prefix}-padding-bottom: 0;
  --#{$prefix}-padding-left: var(--page-whitespace-left);
  --#{$prefix}-max-width: 100%;
}
