/*---------------------------------------------------------------------*/
/*------------------ mixins/notification-type.scss --------------------*/
/*---------------------------------------------------------------------*/

@mixin notification-type($type) {
  background-color: var(--notification-#{$type}-background-color);
  color: var(--notification-#{$type}-text-color);
  border-width: var(--notification-#{$type}-border-width);
  border-style: var(--notification-#{$type}-border-style);
  border-color: var(--notification-#{$type}-border-color);

  &:before {
    font-family: var(--notification-#{$type}-icon-font-family);
    font-size: var(--notification-#{$type}-icon-font-size);
    padding-right: var(--notification-#{$type}-icon-padding-right);
    padding-left: var(--notification-#{$type}-icon-padding-left);
    color: var(--notification-#{$type}-icon-text-color);
    margin-right: var(--notification-#{$type}-icon-margin-right);
    content: var(--notification-#{$type}-icon);
  }
}

@mixin notification-type-variables($type) {
  --notification-#{$type}-background-color: var(--#{$type}-background-color);
  --notification-#{$type}-text-color: var(--#{$type}-text-color);
  --notification-#{$type}-border-width: var(--notification-border-width);
  --notification-#{$type}-border-style: var(--notification-border-style);
  --notification-#{$type}-border-color: var(--#{$type}-border-color);

  /* Icon */
  --notification-#{$type}-icon-font-family: var(
    --notification-icon-font-family
  );
  --notification-#{$type}-icon-font-size: var(--notification-icon-font-size);
  --notification-#{$type}-icon-text-color: var(--notification-icon-text-color);
  --notification-#{$type}-icon-padding-right: var(
    --notification-icon-padding-right
  );
  --notification-#{$type}-icon-padding-left: var(
    --notification-icon-padding-left
  );
  --notification-#{$type}-icon-margin-right: var(
    --notification-icon-margin-right
  );
  --notification-#{$type}-icon: none;
}

/* Page notifications */

@mixin notification-page-type($type) {
  @include notification-type($type);
  padding-top: var(--notification-#{$type}-page-padding-top);
  padding-right: var(--notification-#{$type}-page-padding-right);
  padding-bottom: var(--notification-#{$type}-page-padding-bottom);
  padding-left: var(--notification-#{$type}-page-padding-left);
  gap: var(--notification-#{$type}-page-gap);

  span:first-of-type {
    font-weight: var(--notification-#{$type}-page-span-font-weight);
  }

  /* Content wrapper */
  > div {
    padding-top: var(--notification-#{$type}-page-content-wrapper-padding-top);
    padding-right: var(
      --notification-#{$type}-page-content-wrapper-padding-right
    );
    padding-bottom: var(
      --notification-#{$type}-page-content-wrapper-padding-bottom
    );
    padding-left: var(
      --notification-#{$type}-page-content-wrapper-padding-left
    );
    gap: var(--notification-#{$type}-page-content-wrapper-gap);

    span:first-of-type {
      font-weight: var(--notification-#{$type}-page-span-font-weight);
    }
  }
}

@mixin notification-page-type-variables($type) {
  --notification-#{$type}-page-background-color: var(
    --#{$type}-background-color
  );
  --notification-#{$type}-page-text-color: var(--#{$type}-text-color);
  --notification-#{$type}-page-border-width: var(--notification-border-width);
  --notification-#{$type}-page-border-style: var(--notification-border-style);
  --notification-#{$type}-page-border-color: var(--#{$type}-border-color);
  --notification-#{$type}-page-padding-top: 0.5rem;
  --notification-#{$type}-page-padding-right: var(--page-whitespace-right);
  --notification-#{$type}-page-padding-bottom: 0.5rem;
  --notification-#{$type}-page-padding-left: var(--page-whitespace-left);
  --notification-#{$type}-page-gap: 0.5rem;

  /* First span */
  --notification-#{$type}-page-span-font-weight: var(
    --notification-span-font-weight
  );

  /* Content wrapper */
  --notification-#{$type}-page-content-wrapper-padding-top: 0.5rem;
  --notification-#{$type}-page-content-wrapper-padding-right: var(
    --content-padding-right
  );
  --notification-#{$type}-page-content-wrapper-padding-bottom: 0.5rem;
  --notification-#{$type}-page-content-wrapper-padding-left: var(
    --content-padding-left
  );
  --notification-#{$type}-page-content-wrapper-gap: 0.5rem;

  /* First span */
  --notification-#{$type}-page-content-wrapper-span-font-weight: var(
    --notification-span-font-weight
  );

  /* Icon */
  --notification-#{$type}-page-icon-font-family: var(
    --notification-icon-font-family
  );
  --notification-#{$type}-page-icon-font-size: var(
    --notification-icon-font-size
  );
  --notification-#{$type}-page-icon-text-color: var(
    --notification-icon-text-color
  );
  --notification-#{$type}-page-icon-padding-right: var(
    --notification-icon-padding-right
  );
  --notification-#{$type}-page-icon-padding-left: var(
    --notification-icon-padding-left
  );
  --notification-#{$type}-page-icon-margin-right: var(
    --notification-icon-margin-right
  );
  --notification-#{$type}-page-icon: none;
}
