{% if document.entity.shouldBeUploaded and document.entity.isUploaded and (document.entity.fileInfo.size != "0") %}
<div class="mt-10">
    <twig:Public:DownloadFileButton
        href="{{ path('app_document_download', { prefix: dossier.entity.documentPrefix, dossierId: dossier.entity.dossierNr, documentId: document.entity.documentNr}) }}"
    >({{ document.entity.fileInfo.type|upper }} {{ document.entity.fileInfo.size | size }})</twig:Public:DownloadFileButton>
</div>
{% endif %}
